//- 현재 페이지 경로
-var rootPage       = '/views'
-var initPage        = '/'
-var curPage        = rootPage + initPage

//- 현재 페이지 설명, 키워드
-var pageTitle      = '고코투어'
-var metaDesc       = '국내외여행, 호텔, 펜션, 리조트, 콘도 최저가할인예약  고코투어'
-var metaKeywords   = 'GO.CO.KR 고코투어'
-var metaAuthor         = 'GO.CO.KR 고코투어'

//- 웹폰트 설정
-var googleWebfonts = true
-var fontsList      = {earlyaccessNanum: 'nanumgothic', earlyaccessNoto: 'notosanskr'}

//- 믹스인
include _mixins
