// 상단 해더
#rnL-ts.rnL-ts.bsLs
    .rn-container
        .d1
            span.c-ic.i-gCal
            span.inDate 2017-09-20
            span.c-ic.i-rArr
            span.outDate 2017-09-21
            span.c-ic.i-yChk
            span.night 1박
            span.mgl
            span.c-ic.i-gSpot
            span.regName 강원
            span.regDetail 속초
            // 달력
            .rnSltCal.rn-modal.clr
                .cal-inner
                    p.p-1
                        a.prev-a(href='')
                        em 2017년 06월
                    table.cal-tb
                        thead
                            tr
                                th.sun 일
                                th 월
                                th 화
                                th 수
                                th 목
                                th 금
                                th.sat 토
                        tbody
                            tr
                                td.off
                                    div
                                td.off
                                    div
                                td.off
                                    div
                                td.off
                                    div
                                td.off
                                    div 1
                                td.off
                                    div 2
                                td.off
                                    div 3
                            tr
                                td.off
                                    div 4
                                td.off
                                    div 5
                                td.off
                                    div 6
                                td.off
                                    div 7
                                td.off
                                    div 8
                                td.off
                                    div 9
                                td.off
                                    div 10
                            tr
                                td.off
                                    div 11
                                td.off
                                    div 12
                                td.off
                                    div 13
                                td.off
                                    div 14
                                td.off
                                    div 15
                                td.off
                                    div 16
                                td.off
                                    div 17
                            tr
                                td.off
                                    div 18
                                td.off
                                    div 19
                                td.off
                                    div 20
                                td.off
                                    div 21
                                td.off
                                    div 22
                                td.off
                                    div 23
                                td.off
                                    div 24
                            tr
                                td.off
                                    div 25
                                // 날짜 미선택시
                                //
                                    <td><div>26</div></td>
                                    <td><div>27</div></td>
                                    <td><div>28</div></td>
                                // 날짜 선택시
                                td.chkIn
                                    div
                                        | 26
                                        span.c-ic.i-chkIn
                                td.ing
                                    div 27
                                td.chkOut
                                    div
                                        | 28
                                        span.c-ic.i-chkOut
                                td
                                    div 29
                                td
                                    div 30
                                td
                                    div
                            tr
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                .cal-inner
                    p.p-1
                        em 2017년 07월
                        a.next-a(href='javascript:;')
                    table.cal-tb
                        thead
                            tr
                                th.sun 일
                                th 월
                                th 화
                                th 수
                                th 목
                                th 금
                                th.sat 토
                        tbody
                            tr
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td
                                    div
                                td.sat
                                    div 1
                            tr
                                td
                                    div 2
                                td
                                    div 3
                                td
                                    div 4
                                td
                                    div 5
                                td
                                    div 6
                                td
                                    div 7
                                td.sat
                                    div 8
                            tr
                                td
                                    div 9
                                td
                                    div 10
                                td
                                    div 11
                                td
                                    div 12
                                td
                                    div 13
                                td
                                    div 14
                                td.sat
                                    div 15
                            tr
                                td
                                    div 16
                                td
                                    div 17
                                td
                                    div 18
                                td
                                    div 19
                                td
                                    div 20
                                td
                                    div 21
                                td.sat
                                    div 22
                            tr
                                td
                                    div 23
                                td
                                    div 24
                                td
                                    div 25
                                td
                                    div 26
                                td
                                    div 27
                                td
                                    div 28
                                td.sat
                                    div 29
                .clr
                .d-area
                    a.a1(href='#')
                        span.c-ic.i-today
                        |  오늘 날짜로 변경
                    // 날짜 미선택시
                    // <a href="#" class="a2">선택완료</a>
                    // 날짜 선택시
                    a.a2.on(href='#') 선택완료
            // 지역
            .rnSltReg.rn-modal
                .slt-dep1
                    ul.clr
                        li
                            a(href='javascript:;') 서울
                        li
                            a(href='javascript:;') 경기
                        li
                            a(href='javascript:;') 인천
                        li.on
                            a(href='javascript:;') 강원
                        li
                            a(href='javascript:;') 대전
                        li
                            a(href='javascript:;') 충북
                        li
                            a(href='javascript:;') 충남
                        li
                            a(href='javascript:;') 부산
                        li
                            a(href='javascript:;') 울산
                        li
                            a(href='javascript:;') 경남
                        li
                            a(href='javascript:;') 대구
                        li
                            a(href='javascript:;') 경북
                        li
                            a(href='javascript:;') 광주
                        li
                            a(href='javascript:;') 전남
                        li
                            a(href='javascript:;') 전북
                        li
                            a(href='javascript:;') 제주
                .slt-dep2
                    ul.clr
                        li
                            a(href='javascript:;') 평창군
                        li
                            a(href='javascript:;') 강릉시
                        li
                            a(href='javascript:;') 춘천시
                        li
                            a(href='javascript:;') 양양군
                        li
                            a(href='javascript:;') 홍천군
                        li
                            a(href='javascript:;') 속초시
                        li
                            a(href='javascript:;') 횡성군
                        li
                            a(href='javascript:;') 고성군
                        li
                            a(href='javascript:;') 원주시
                        li
                            a(href='javascript:;') 영원군
                        li
                            a(href='javascript:;') 정선시
                        li
                            a(href='javascript:;') 동해시
                        li
                            a(href='javascript:;')
                        li
                            a(href='javascript:;')
                        li
                            a(href='javascript:;')
                        li
                            a(href='javascript:;')
                        li
                            a(href='javascript:;')
                            
// 상단 카테고리바
#rnL-ctgr.rnL-ctgr.bsLs
    .rn-container
        ul.ul1.clr
            li.on
                a(href='#') 이 지역추천
            li
                a(href='#') 호텔/리조트
            li
                a(href='#') 펜션/풀빌라
            li
                a(href='#') 게스트하우스
            li
                a(href='#') 모텔
            li
                a(href='#') 캠핑/카라반
            li
                a(href='#') 워터파크
            li
                a(href='#') 테마파크
            li
                a(href='#') 키즈
            li
                a(href='#') 스파/온천
            li
                a(href='#') 레포츠
            li
                a(href='#') 체험/축제
            li
                a(href='#') 탈것
        .slt-mf
            span.c-ic.i-mapv
            span.s-txt
            span.c-ic.i-dArr
