block footer
    footer#Footer.clr.ftfm-mg
        .f-area
            .f-top
                .policy
                    a(href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/join_policy_pop.php', 'join_policy', '')", title='이용약관') 이용약관
                    |      
                    a(href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/privacy_pop.php', 'privacy_policy', '')", title='개인정보처리방침')
                        b
                            font(color='white') 개인정보처리방침
                    |      
                    a(href='http://www.go.co.kr/home/brd/?dd=QxsoVg==', title='광고/입점/제휴문의') 광고/입점/제휴문의
                    |      
                    a(href='http://www.go.co.kr/home/customer/', title='고객센터') 고객센터
                    |      
                    a(href="javascript:utils.on('#mailing_pop_wrap')")
                        img(src='http://img.go.co.kr/icon_mail.jpg', alt='메일')
                        span.mail &nbsp;매주 최저가/특가 상품 소식받기!
                .family-site
                    span 패밀리사이트 바로가기 ▲
                    ul.site
                        li
                            .fam_btn
                                a(href='http://www.go.co.kr', target='_blank') 고코투어
                        li
                            .fam_btn
                                a(href='http://www.tournspa.co.kr', target='_blank') 투어앤스파
                        li
                            .fam_btn
                                a(href='http://www.tourgosu.co.kr', target='_blank') 투어고수
                        li
                            .fam_btn
                                a(href='http://www.todaygo.co.kr', target='_blank') 투데이고
                        li
                            .fam_btn
                                a(href='http://www.allgotour.co.kr', target='_blank') 올고투어
                        li
                            .fam_btn
                                a(href='http://www.todotour.co.kr', target='_blank') 투두투어
                        li
                            .fam_btn
                                a(href='http://www.toursoon.co.kr', target='_blank') 투어순
                        li
                            .fam_btn
                                a(href='http://www.hyutour.co.kr', target='_blank') 휴투어
                        li
                            .fam_btn
                                a(href='http://www.didimtour.co.kr', target='_blank') 디딤투어
                        li
                            .fam_btn
                                a(href='http://www.trip25.co.kr', target='_blank') 트립25
                        li
                            .fam_btn
                                a(href='http://www.oudigo.co.kr', target='_blank') 어디고
                        li
                            .fam_btn
                                a(href='http://www.borogogo.co.kr', target='_blank') 바로고고
                        li
                            .fam_btn
                                a(href='http://www.watour.co.kr', target='_blank') 와투어
                        li
                            .fam_btn
                                a(href='http://www.tourgirl.co.kr', target='_blank') 투어걸
                        li
                            .fam_btn
                                a(href='http://www.sinnatour.co.kr', target='_blank') 신나투어
                        li
                            .fam_btn
                                a(href='http://www.mitour.co.kr', target='_blank') 미투어
                        li
                            .fam_btn
                                a(href='http://www.dagaja.co.kr', target='_blank') 다가자
                        li
                            .fam_btn
                                a(href='http://www.tripgogo.co.kr', target='_blank') 고고트립
                        li
                            .fam_btn
                                a(href='http://www.hotplan.co.kr', target='_blank') 핫플랜
                        li
                            .fam_btn
                                a(href='http://www.gleetour.co.kr', target='_blank') 글리투어
                        li
                            .fam_btn
                                a(href='http://www.shinetour.co.kr', target='_blank') 샤인투어
                        // 사장님 요청으로 이비즈네트웍스 추가 170504
                        li
                            .fam_btn
                                a(href='http://www.ebiznetworks.co.kr', target='_blank') 이비즈네트웍스
                // 2017-03-30
                script(type='text/javascript').
                    $('.family-site > span').click(function() {
                    $(this).next().toggle();
                    });
                // // 2017-03-30
            .f-bottom
                // 이미지 변경
                .f_logo
                    img(src='http://img.go.co.kr/f_logo.png', alt='고코투어푸터로고')
                .address
                    // 내용 수정
                    p
                        | (주)바로네트웍스
                        span.mgl
                        | 대표이사 : 전병권
                        span.mgl
                        | 메인문의 : help@go.co.kr
                        br
                        | 							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)
                        br
                        | 							사업자등록번호 : 215-87-85373
                        span.mgl
                        | 통신판매업 : 제2017-서울강남-00561호
                        span.mgl
                        | 여행업등록번호 : 제2017-07호
                        br
                        | 							여행영업보증서 : 국내여행 제100-000-2015 0144 5816호
                        span.mgl
                        | 국외여행업등록번호 : 제2017호-26호
                    p.copy
                        | copyright 2015 by GO.CO.KR co., all rights reserved.
                    p.store
                        a(href='http://www.go.co.kr/_appclick.php?val=ios', target='_blank')
                            img(src='http://img.go.co.kr/appstore.png', arc='앱스토어바로가기')
                        a(href='http://www.go.co.kr/_appclick.php?val=android', target='_blank')
                            img(src='http://img.go.co.kr/googleplay.png', arc='구글스토어바로가기')
                .customer
                    p.clr
                        | 고객센터
                        br
                        | 							1666-1243 
                        span.fl-r (09:30 ~ 18:00)
                        br
                        | 							주말/공휴일 
                        span.fl-r (09:30 ~ 17:00)
                // 이미지 경로 변경
                .four-list
                    img(src='http://img.go.co.kr/f_icon_01.jpg', border='0', alt='랭키닷컴1위')
                    a(href="javascript:util.regist_pop('registration02')")
                        img(src='http://img.go.co.kr/f_icon_02.jpg', border='0', alt='관광업등록증')
                    a(href="javascript:util.regist_pop('registration01')")
                        img(src='http://img.go.co.kr/f_icon_03.jpg', border='0', alt='서울보증보험')
                    img(src='http://img.go.co.kr/f_icon_04.jpg', border='0', alt='신용카드결제')
                    img(src='http://img.go.co.kr/f_icon_05.jpg', border='0', alt='휴대폰결제')
                    script(language='JavaScript').
                        function onopen() {
                        var site_com = "2158785373";
                        var url = "http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=" + site_com;
                        window.open(url, "communicationViewPopup", "width=750, height=700;");
                        }
                    img(src='http://img.go.co.kr/f_icon_06.jpg', alt='공정거래위원회', onclick='onopen();', style='cursor:pointer')
