//- 2Depth 내비게이션
mixin gnbNavi(naviContents, attr)
	nav&attributes(attr?attr:{}): ul
		each D1_item in naviContents
			li
				+naviLink(D1_item)
				if D1_item.child
					ul
						each D2_item in D1_item.child
							li
								+naviLink(D2_item)
//- 내비게이션 메뉴 아이템 생성(재사용)
mixin naviLink(item)
	a(href=item.link, class=(curPage==item.link?'active':''))=item.content
