<aside class="lab bsLs">
    <h2>고객센터</h2>
    <nav class="lnb">
        <ul>
            <!-- 활성화페이지 on -->
            <li class="on"><a href="/views/customer/index.html">자주 묻는 질문</a></li>
            <li><a href="/views/customer/index_2.html">Q&amp;A</a></li>
            <li><a href="/views/customer/index_3.html">이벤트</a></li>
        </ul>
    </nav>

    <div class="cus-call">
        <a href="javascript:;" onclick="clickFn.selfOn('.cus-call')"><span class="i-faqPh"></span> 고객센터 전화문의</a>
        <div class="center">
            <span class="s-1 f-bd">고코투어 고객센터</span><br>
            <span class="s-2 thColor1 f-bd">1666-1243</span><br>
            <span class="s-3">
                주중 09:30~18:00<br>
                주말/공휴일 09:30~17:00
            </span>
        </div>
    </div>
</aside>
