<aside class="lab bsLsbo">
    <h2>마이페이지</h2>
    <nav class="lnb">
        <ul>
            <!-- 활성화페이지 on -->
            <li class=""><a href="/views/mypage/index.html">예약 내역 조회</a></li>
            <li><a href="/views/mypage/index_2.html">적립금 조회</a></li>
            <li><a href="/views/mypage/index_3.html">쿠폰 조회</a></li>
            <li><a href="/views/mypage/index_4.html">찜 목록</a></li>
            <li><a href="/views/mypage/index_5.html">나의 이용후기</a></li>
            <li><a href="/views/mypage/index_6.html">나의 문의내역</a></li>
            <li><a href="/views/mypage/index_7.html">무료숙박권 예약</a></li>
            <li class="type02 on"><a href="/views/mypage/index_8.html">회원 정보관리</a></li>
            <li class="type02"><a href="">개인 결제창</a></li>
        </ul>
    </nav>

    <div class="cus-call">
        <a href="#"><img src="http://img.go.co.kr/i_faqPh.png" alt="고객센터전화문의"> 고객센터 전화문의</a>
    </div>
</aside>
