<div class="pdtCal type-ticket" style="display: none;">
    <p class="p-1"><a href="javascript:;" class="prev-a ic-lArrow"></a>2017년 10월<a href="javascript:;" class="next-a ic-rArrow"></a></p>
    <table class="cal-tb">
        <thead>
            <tr>
                <th class="sun">일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th class="sat">토</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="off sun"><div></div></td>
                <td class="off"><div></div></td>
                <td class="off"><div></div></td>
                <td class="off"><div></div></td>
                <td class="chkRec"><div><span class="s-txt">1</span><img src="http://img.go.co.kr/renew/i_chkRec.png" alt="체크인" class="i-chkIn"></div></td>
                <td><div><span class="s-txt">2</span></div></td>
                <td class="sat"><div><span class="s-txt">3</span></div></td>
            </tr>
            <tr>
                <td class="sun"><div><span class="s-txt">4</span></div></td>
                <td><div><span class="s-txt">5</span></div></td>
                <td><div><span class="s-txt">6</span></div></td>
                <td><div><span class="s-txt">7</span></div></td>
                <td><div><span class="s-txt">8</span></div></td>
                <td><div><span class="s-txt">9</span></div></td>
                <td class="sat ddLine"><div><span class="s-txt">10</span><img src="http://img.go.co.kr/renew/i_ddLine.png" alt="예약마감" class="i-ddLine"></div></td>
            </tr>
            <tr>
                <td class="sun"><div><span class="s-txt">11</span></div></td>
                <td class="undef"><div><span class="s-txt">12</span><img src="http://img.go.co.kr/renew/i_undef.png" alt="예약미정" class="i-undef"></div></td>
                <td><div><span class="s-txt">13</span></div></td>
                <td><div><span class="s-txt">14</span></div></td>
                <td><div><span class="s-txt">15</span></div></td>
                <td><div><span class="s-txt">16</span></div></td>
                <td class="sat"><div><span class="s-txt">17</span></div></td>
            </tr>
            <tr>
                <td class="sun"><div><span class="s-txt">18</span></div></td>
                <td><div><span class="s-txt">19</span></div></td>
                <td><div><span class="s-txt">20</span></div></td>
                <td><div><span class="s-txt">21</span></div></td>
                <td><div><span class="s-txt">22</span></div></td>
                <td><div><span class="s-txt">23</span></div></td>
                <td class="sat"><div><span class="s-txt">24</span></div></td>
            </tr>
            <tr>
                <td class="sun"><div><span class="s-txt">25</span></div></td>
                <td><div><span class="s-txt">26</span></div></td>
                <td><div><span class="s-txt">27</span></div></td>
                <td><div><span class="s-txt">28</span></div></td>
                <td><div><span class="s-txt">29</span></div></td>
                <td><div><span class="s-txt">30</span></div></td>
                <td class="off sat"><div></div></td>
            </tr>
        </tbody>
    </table>
</div>
