<div class="rnL-ts bsLs type-ticket" id="rnL-ts">
    <div class="rn-container bar-ticket">
        <div class="path-dep0">
            <a href="">
                <span class="c-ic i-home"></span>
                <span class="slt">홈</span>
            </a>
        </div>
        <div class="path-dep1">
            <span class="slt ic-bArrow">공연/전시</span>
            <ul class="slt-drop">
                <li><a href="">국내숙박</a></li>
                <li><a href="">해외숙박</a></li>
                <li><a href="">레저/입장권</a></li>
                <li class="on"><a href="">공연/전시</a></li>
            </ul>
        </div>
        <div class="path-dep2">
            <span class="slt ic-bArrow">연극</span>
            <ul class="slt-drop">
                <li class="on"><a href="">연극</a></li>
                <li><a href="">뮤지컬</a></li>
                <li><a href="">전시회</a></li>
                <li><a href="">공연</a></li>
            </ul>
        </div>
    </div>
</div>
