<div class="rnL-ts bsLs" id="rnL-ts">
    <div class="rn-container">
        <div class="d1">
            <span class="c-ic i-gCal"></span>
            <span class="inDate">2017-09-20</span>
            <span class="c-ic i-rArr"></span>
            <span class="outDate">2017-09-21</span>
            <span class="c-ic i-yChk"></span>
            <span class="night">1박</span>
            <span class="mgl"></span>
            <span class="c-ic i-gSpot"></span>
            <span class="regName">강원</span>
            <span class="regDetail">속초시</span>

            <!--달력-->
            <% include ../components/calendar/_calendar_db.ejs %>

            <!--지역-->
            <div class="rnSltReg rn-modal">
                <div class="slt-dep1">
                    <ul class="clr">
                        <li><a href="javascript:;">서울</a></li>
                        <li><a href="javascript:;">경기</a></li>
                        <li><a href="javascript:;">인천</a></li>
                        <li class="on"><a href="javascript:;">강원</a></li>
                        <li><a href="javascript:;">대전</a></li>
                        <li><a href="javascript:;">충북</a></li>
                        <li><a href="javascript:;">충남</a></li>
                        <li><a href="javascript:;">부산</a></li>
                        <li><a href="javascript:;">울산</a></li>
                        <li><a href="javascript:;">경남</a></li>
                        <li><a href="javascript:;">대구</a></li>
                        <li><a href="javascript:;">경북</a></li>
                        <li><a href="javascript:;">광주</a></li>
                        <li><a href="javascript:;">전남</a></li>
                        <li><a href="javascript:;">전북</a></li>
                        <li><a href="javascript:;">제주</a></li>
                    </ul>
                </div>
                <div class="slt-dep2">
                    <ul class="clr">
                        <li><a href="javascript:;">평창군</a></li>
                        <li><a href="javascript:;">강릉시</a></li>
                        <li><a href="javascript:;">춘천시</a></li>
                        <li><a href="javascript:;">양양군</a></li>
                        <li><a href="javascript:;">홍천군</a></li>
                        <li><a href="javascript:;">속초시</a></li>
                        <li><a href="javascript:;">횡성군</a></li>
                        <li><a href="javascript:;">고성군</a></li>
                        <li><a href="javascript:;">원주시</a></li>
                        <li><a href="javascript:;">영원군</a></li>
                        <li><a href="javascript:;">정선시</a></li>
                        <li><a href="javascript:;">동해시</a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rnL-ctgr bsLs" id="rnL-ctgr">
    <div class="rn-container">
        <ul class="ul1 clr">
            <!-- <li class="on"><a href="#">이 지역추천</a></li>
            <li><a href="#">호텔/리조트</a></li>
            <li><a href="#">펜션/풀빌라</a></li>
            <li><a href="#">게스트하우스</a></li>
            <li><a href="#">모텔</a></li>
            <li><a href="#">캠핑/카라반</a></li>
            <li><a href="#">워터파크</a></li>
            <li><a href="#">테마파크</a></li>
            <li><a href="#">키즈</a></li>
            <li><a href="#">스파/온천</a></li>
            <li><a href="#">레포츠</a></li>
            <li><a href="#">체험/축제</a></li>
            <li><a href="#">탈것</a></li> -->
            <li class="on"><a href="#">전체</a></li>
            <li><a href="#">호텔</a></li>
            <li><a href="#">리조트/콘도</a></li>
            <li><a href="#"></a>모텔</li>
            <li><a href="#">게스트하우스</a></li>
            <li><a href="#">펜션</a></li>
            <li><a href="#">레저/입장권</a></li>
        </ul>

        <!-- product 페이지 비노출 -->
        <!-- <div class="slt-mf">
            <span class="c-ic i-mapv"></span>
            <span class="s-txt"></span>
            <span class="c-ic i-dArr"></span>
        </div> -->
    </div>
</div>
