<div class="rnL-ctgr-ticket bsLs" id="rnL-ctgr-ticket">
    <div class="rn-container">
        <div class="ft-ticket">
            <span class="ipCst">
                <input type="checkbox" id="tk-chk1" class="chk-cst">
                <label for="tk-chk1"></label>
                <label for="tk-chk1">전체</label>
            </span>
            <span>|</span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">워터파크</label>
            </span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">테마파크</label>
            </span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">키즈</label>
            </span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">입장권</label>
            </span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">레포츠</label>
            </span>
            <span class="ipCst">
                <input type="checkbox" id="" class="chk-cst">
                <label for=""></label>
                <label for="">체험/축제</label>
            </span>

            <input type="text" class="reset inp" placeholder="티켓, 지역 입력">
            <a href="javascript:;" class="a-btn">검색</a>
        </div>
    </div>
</div>
