<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/mypage/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <!-- 별도 css 추가 영역 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/laypop/init.css">

    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                <% include ../parts/mypage/_lab.ejs %>

                <div class="main main-coupon bsLs">
                    <p class="row-name">
                        <span class="name">김지영(jiyoungkim)님, 안녕하세요!</span>
                        <span class="s-r">
                            <span class="point cf">
                                <span class="txt">MY POINT</span>
                                <span class="num"><span class="colr-org f-bdr">25,222</span>P</span>
                            </span>
                            <span class="pieces">
                                <span class="coupon-per">
                                    <span class="square01"></span><span class="square02">%</span>
                                    <span class="sunV">
                                            <span class="won"></span>
                                            <span class="won"></span>
                                            <span class="won"></span>
                                            <span class="won"></span>
                                    </span>
                                </span>
                                <span class="num f-bd"><span class="colr-org f-bdr">0</span>장</span>
                            </span>
                        </span>
                    </p>

                    <section class="sec-cmm cf sec-cpHistory">
                        <h2>나의 할인쿠폰 내역</h2>
                        <table class="tb-bk tb-cp">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                                <col class="nth-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="nth-1">발급일</th>
                                    <th class="nth-2">쿠폰번호</th>
                                    <th class="nth-3">쿠폰명</th>
                                    <th class="nth-4">사용조건</th>
                                    <th class="nth-5">유효기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 내용 없을 경우 -->
                                <!-- <tr class="nothing">
                                    <td colspan="5">
                                        <p>사용 가능한 쿠폰이 없습니다.</p>
                                        <div class="d-row">
                                            <img src="http://img.go.co.kr/renew/mypage/coupon_mini.png" alt="쿠폰">
                                            <span class="s-txt">고객님 앞으로 즉시 사용 가능한  <span class="c-blue f-bd">3만원 쿠폰팩이  발급</span> 되었습니다!</span>
                                            <a href="" class="a-btn-coupon">쿠폰다운 <img src="http://img.go.co.kr/renew/icon/i_downW.png" alt="다운"></a>
                                        </div>
                                    </td>
                                </tr> -->

                                <!-- 내용 있을 경우 -->
                                <tr>
                                    <td class="nth-1">2018.04.11</td>
                                    <td class="nth-2" onclick="">
                                        -
                                    </td>
                                    <td class="nth-3"><span class="f-bd">앱 리뷰 작성 쿠폰</span></td>
                                    <td class="nth-4">
                                        <span class="s-btn app">모바일APP</span>
                                        <span class="s-btn m">모바일 웹</span>
                                        <span class="s-btn web">PC 웹</span>
                                        <br>
                                        결제금액 50,000이상 사용 가능
                                    </td>
                                    <td class="nth-5">
                                        2018.03.20~<br>
                                        2018.04.19
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">2018.04.11</td>
                                    <td class="nth-2" onclick="">
                                        -
                                    </td>
                                    <td class="nth-3"><span class="f-bd">앱 전용 1,000원 쿠폰</span></td>
                                    <td class="nth-4">
                                        <span class="s-btn app">모바일APP</span>
                                        <br>
                                        결제금액 1,100이상 사용 가능
                                    </td>
                                    <td class="nth-5">
                                        2018.03.20~<br>
                                        2018.04.19
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="pagenation" id="pagenation">
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span><span class="ic-lArrow"></span></a>
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span></a>
                            <a class="active" href="javascript:;">1</a>
                            <a href="javascript:;">2</a>
                            <a href="javascript:;">3</a>
                            <a href="javascript:;">4</a>
                            <a href="javascript:;">5</a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span></a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span><span class="ic-rArrow"></span></a>
                        </div>

                        <div class="d-caution">
                            <em class="f-bd">할인 쿠폰 사용안내</em>
                            <p class="p-1">쿠폰은 숙박 및 숙박 외 상품 구매시 현금처럼 사용할 수 있습니다 .</p>
                            <p class="p-1">결제 후에는 쿠폰 조회를 사용할 수 없습니다.</p>
                            <p class="p-1">모든 쿠폰은 1회 상품 구매시 1개의 쿠폰만 사용가능합니다.</p>
                            <p class="p-1">상품 구매시 결제정보입력란에 있는 쿠폰 적용에서 할인 쿠폰을 선택, 사용하셔야만 할인이 적용됩니다.</p>
                            <p class="p-1">쿠폰은 본인만 사용 가능하며 타인에게 양도할 수 없습니다.</p>
                            <p class="p-1">쿠폰은 환급되지 않으며 탈퇴 시 자동으로 소멸됩니다.</p>
                            <p class="p-1">유효기간 내 사용되지 않은 쿠폰은 소멸되며, 유효기간이 지난 쿠폰은 재발행 되지 않습니다. </p>
                        </div>
                    </section>


                </div>
                <!-- main end -->

            </div>
        </div>

        <% include ../parts/components/laypop/_cancle.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
