<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/mypage/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <!-- 별도 css 추가 영역 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/laypop/init.css">

    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                <% include ../parts/mypage/_lab.ejs %>

                <div class="main main-like bsLs">
                    <section class="sec-cmm cf sec-likHistory">
                        <h2>찜 목록 <span class="sm">회원님께서 찜하신 관심상품 정보를 확인하실 수 있습니다.</span></h2>
                        <ul class="row-tab cf">
                            <li class="tab-1 on">국내시설</li>
                            <li class="tab-2">해외시설</li>
                        </ul>
                        <table class="tb-bk tb-lik">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="nth-1">선택</th>
                                    <th class="nth-2">상품명</th>
                                    <th class="nth-3">최저가격</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 내용 없을 경우 -->
                                <!-- <tr class="nothing">
                                    <td colspan="6">
                                        <p>찜한 상품이 없습니다.</p>
                                        <p class="row-btn"><a href="" class="a-btn">추천 숙소 보러가기</a></p>
                                    </td>
                                </tr> -->
                                <!-- 내용 있을 경우 -->
                                <tr>
                                    <td class="nth-1"><input type="checkbox"></td>
                                    <td class="nth-2">
                                        <figure>
                                            <img width="138" height="72" alt="" src="http://cache.go.co.kr/media/140/file.go.co.kr/tour/img3/1514427470_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </figure>
                                        <div class="txt cf">
                                            <p class="p-1 f-bd">[리조트] 오션투유리조트 속초설악비치 호텔앤콘도</p>
                                            <p class="p-2">
                                                강원 고성군 죽왕면<br>
                                                이용후기 <span class="c-blue">1,063</span> 건
                                            </p>
                                        </div>
                                    </td>
                                    <td class="nth-3" onclick="">
                                        <div class="c-red f-bd prc">54,000원~</div>
                                        <a href="" class="btn-bk">예약하기</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1"><input type="checkbox"></td>
                                    <td class="nth-2">
                                        <figure>
                                            <img width="138" height="72" alt="" src="http://cache.go.co.kr/media/140/file.go.co.kr/tour/img3/1476348760_main1.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </figure>
                                        <div class="txt cf">
                                            <p class="p-1 f-bd">[콘도] 속초현대수콘도미니엄</p>
                                            <p class="p-2">
                                                강원 속초시 노학동<br>
                                                이용후기 <span class="c-blue">282</span> 건
                                            </p>
                                        </div>
                                    </td>
                                    <td class="nth-3" onclick="">
                                        <div class="c-red f-bd prc">52,000원~</div>
                                        <a href="" class="btn-bk">예약하기</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row-btn-x"><a href="" class="a-btn"><span class="a-i-x a-x"></span>선택상품 삭제</a></div>

                        <div class="pagenation" id="pagenation">
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span><span class="ic-lArrow"></span></a>
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span></a>
                            <a class="active" href="javascript:;">1</a>
                            <a href="javascript:;">2</a>
                            <a href="javascript:;">3</a>
                            <a href="javascript:;">4</a>
                            <a href="javascript:;">5</a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span></a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span><span class="ic-rArrow"></span></a>
                        </div>
                    </section>

                </div>
                <!-- main end -->

            </div>
        </div>

        <% include ../parts/components/laypop/_cancle.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
