<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/mypage/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <!-- 별도 css 추가 영역 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/laypop/init.css">

    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                <% include ../parts/mypage/_lab.ejs %>

                <div class="main main-mypage bsLs">
                    <p class="row-name">
                        <span class="name">김지영(jiyoungkim)님, 안녕하세요!</span>
                        <span class="s-r">
                            <span class="point cf">
                                <span class="txt">MY POINT</span>
                                <span class="num"><span class="colr-org f-bdr">25,222</span>P</span>
                            </span>
                            <span class="pieces">
                                <span class="coupon-per">
                                    <span class="square01"></span><span class="square02">%</span>
                                    <span class="sunV">
                                            <span class="won"></span>
                                            <span class="won"></span>
                                            <span class="won"></span>
                                            <span class="won"></span>
                                    </span>
                                </span>
                                <span class="num f-bd"><span class="colr-org f-bdr">6</span>장</span>
                            </span>
                        </span>
                    </p>

                    <section class="sec-cmm cf sec-bkHistory">
                        <h2>예약내역 조회</h2>
                        <ul class="row-tab cf">
                            <li class="tab-1">이용가능</li>
                            <li class="tab-2">이용완료</li>
                            <li class="tab-3 on">취소/환불</li>
                        </ul>
                        <!-- 취소/환불 테이블 -->
                        <table class="tb-bk tb-bk-3">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                                <col class="nth-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="nth-1">예약처</th>
                                    <th class="nth-2">접수일자</th>
                                    <th class="nth-3">숙소명</th>
                                    <th class="nth-4">예약상태</th>
                                    <th class="nth-6">출력</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 내용 없을 경우 -->
                                <!-- <tr class="nothing">
                                    <td colspan="6">
                                        <p>예약/구매 내용이 없습니다.</p>
                                    </td>
                                </tr> -->
                                <!-- 내용 있을 경우 -->
                                <tr>
                                    <td class="nth-1"><img src="http://img.go.co.kr/renew/common/logo_mini.png" alt="고코투어"></td>
                                    <td class="nth-2">2017.10.31</td>
                                    <td class="nth-3" onclick="">
                                        <span class="f-bd">오션투유리조트 속초설악비치 호텔앤콘도</span><br>
                                        <span class="sm">투숙일: 2018.05.17 (금) ~ 2018.05.18 (토)</span>
                                    </td>
                                    <td class="nth-4"><span class="f-bd">취소완료</span></td>
                                    <td class="nth-5">
                                        미발행
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row-btn-x"><a href="" class="a-btn"><span class="a-i-x a-x"></span>전체삭제</a></div>

                        <div class="pagenation" id="pagenation">
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span><span class="ic-lArrow"></span></a>
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span></a>
                            <a class="active" href="javascript:;">1</a>
                            <a href="javascript:;">2</a>
                            <a href="javascript:;">3</a>
                            <a href="javascript:;">4</a>
                            <a href="javascript:;">5</a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span></a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span><span class="ic-rArrow"></span></a>
                        </div>
                    </section>

                    <section class="sec-cmm cf sec-faq">
                        <div class="row-h cf">
                            <h2 class="pull-left;">FAQ 자주묻는 질문 <span class="sm">여행에 대한 궁금증을 찾아보세요</span></h2>
                            <span class="sch-box cf pull-right">
        						<input name="keyword" class="in" type="text" value="" placeholder="무엇을 도와드릴까요?" onkeypress="if(event.keyCode == 13) { search_faq(); return false; }">
        						<a href="javascript:search_faq();" class="i-mag">검색</a>
        					</span>
                        </div>

                        <!-- faq 인클루드 -->
                        <% include ../parts/mypage/_faq.ejs %>
                    </section>
                </div>
                <!-- main end -->

            </div>
        </div>

        <% include ../parts/components/laypop/_cancle.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
