<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/mypage/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <!-- 별도 css 추가 영역 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/laypop/init.css">

    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                <% include ../parts/mypage/_lab.ejs %>

                <div class="main main-member bsLs">
                    <section class="sec-cmm cf sec-member">
                        <h2>회원정보관리</h2>

                        <!-- <table class="tb-member tb-member-2">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>로그인 계정</th>
                                    <td><span class="f-bd">devtest1</span></td>
                                </tr>
                                <tr>
                                    <th>새 비밀번호</th>
                                    <td>
                                        <input type="password" class="pwd reset">
                                        <span class="s-txt">영문 대, 소문자, 숫자 포함 6~15자 내외</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>새 비밀번호</th>
                                    <td>
                                        <input type="password" class="pwd reset">
                                    </td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td><span class="f-bd">김지영</span></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td>
                                        <input type="text" value="jiyoungkim" class="reset type01">
                                        <span class="at">＠</span>
                                        <input type="text" value="ebiznetworks.co.kr" class="reset type02">
                                        <select name="" id="" class="type01">
                                            <option value="">naver.com</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> -->

                        <table class="modify_t">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                            </colgroup>
                            <tbody>
                                <!-- SNS 유형별 로그인  -->
                                <!-- <tr>
                                    <th>로그인 계정</th>
                                    <td>
                                        <span class="icon-bg facebook"><img src="http://img.go.co.kr/mobile/f_logo.jpg"></span>페이스북 로그인
                                        <span class="icon-bg naver"><img src="http://img.go.co.kr/mobile/n_logo.jpg"></span>네이버 로그인
                                        <span class="icon-bg daum"><img src="http://img.go.co.kr/mobile/daum_logo.jpg"></span>다음 로그인
                                        <span class="icon-bg kakao"><img src="http://img.go.co.kr/mobile/k2_logo.jpg"></span>카카오톡 로그인
                                        <span class="icon-bg google"><img src="http://img.go.co.kr/mobile/g_logo.jpg"></span>구글 로그인
                                    </td>
                                </tr> -->

                                <!-- 일반 로그인 시  -->
                                <tr>
                                    <th>로그인 계정</th>
                                    <td class="f-bd">devtest1</td>
                                </tr>

                                <tr>
                                    <th>새 비밀번호</th>
                                    <td><input name="passwd" title="새 비밀번호" id="passwd" type="password" maxlength="15" value="" class="input" style="width:300px;ime-mode:disabled" onfocusout="mem.pwchk();">
                                        <span id="pw_txt">영문 대,소문자,숫자 포함 6~15자 내외</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>새 비밀번호 확인</th>
                                    <td><input name="passwd_chk" title="새 비밀번호 확인" id="passwd_chk" type="password" maxlength="15" value="" class="input" style="width:300px;ime-mode:disabled" onfocusout="mem.pwcompare();">

                                    </td>
                                </tr>


                                <tr>
                                    <th>이름</th>
                                    <td><span class="f-bd">김지영</span></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td>
                                        <input name="email1" title="이메일" id="email1" validatio="yes" type="text" value="wo5758" class="input" style="width:158px;ime-mode:disabled">
                                        @
                                        <input name="email2" title="이메일" id="email2" validatio="yes" type="text" value="ebiznetworks.co.kr" class="input" style="width:158px;ime-mode:disabled">
                                        <div class="select" id="" style="width:200px" onclick="util.select_display('email_sel_ul')">
                                            <p><span id="email_txt">선택하세요</span></p>
                                            <ul id="email_sel_ul" style="display: none;">
                                                <!---클릭시 style="display:block" -->
                                                <li onclick="util.field_setting('email2', 'naver.com', 'email_txt')">naver.com</li>
                                                <li onclick="util.field_setting('email2', 'hanmail.net', 'email_txt')">hanmail.net</li>
                                                <li onclick="util.field_setting('email2', 'nate.com', 'email_txt')">nate.com</li>
                                                <li onclick="util.field_setting('email2', 'gmail.com', 'email_txt')">gmail.com</li>
                                                <li onclick="util.field_setting('email2', 'hotmail.com', 'email_txt')">hotmail.com</li>
                                                <li onclick="util.field_setting('email2', 'daum.net', 'email_txt')">daum.net</li>
                                                <li onclick="util.field_setting('email2', 'lycos.co.kr', 'email_txt')">lycos.co.kr</li>
                                                <li onclick="util.field_setting('email2', 'korea.kr', 'email_txt')">korea.kr</li>
                                                <li onclick="util.field_setting('email2', 'empal.com', 'email_txt')">empal.com</li>
                                                <li onclick="util.field_setting('email2', 'dreamwiz.com', 'email_txt')">dreamwiz.com</li>
                                                <li onclick="util.field_setting('email2', 'paran.com', 'email_txt')">paran.com</li>
                                                <li onclick="util.field_setting('email2', 'yahoo.co.kr', 'email_txt')">yahoo.co.kr</li>
                                                <li onclick="util.field_setting('email2', 'korea.com', 'email_txt')">korea.com</li>
                                                <li onclick="util.field_setting('email2', 'yahoo.com', 'email_txt')">yahoo.com</li>
                                                <li onclick="util.field_setting('email2', 'empas.com', 'email_txt')">empas.com</li>
                                                <li onclick="util.field_setting('email2', 'chol.com', 'email_txt')">chol.com</li>
                                                <li onclick="util.field_setting('email2', '직접입력', 'email_txt')">직접입력</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>휴대전화</th>
                                    <td>
                                        <div class="select" style="width:120px" onclick="util.select_display('comp_ul')">
                                            <p><span id="comp_txt">LGT</span></p>
                                            <ul id="comp_ul" style="display: none;">
                                                <li onclick="util.field_setting('comid', 'SKT', 'comp_txt')">SKT</li>
                                                <li onclick="util.field_setting('comid', 'LGT', 'comp_txt')">LGT</li>
                                                <li onclick="util.field_setting('comid', 'KT', 'comp_txt')">KT</li>
                                            </ul>
                                        </div>
                                        <div class="select" style="width:120px" onclick="util.select_display('tel_ul')">
                                            <p><span id="tel_txt">010</span></p>
                                            <ul id="tel_ul" style="display: none; z-index:999">
                                                <li onclick="util.field_setting('tel1', '010', 'tel_txt')">010</li>
                                                <li onclick="util.field_setting('tel1', '011', 'tel_txt')">011</li>
                                                <li onclick="util.field_setting('tel1', '016', 'tel_txt')">016</li>
                                                <li onclick="util.field_setting('tel1', '017', 'tel_txt')">017</li>
                                                <li onclick="util.field_setting('tel1', '018', 'tel_txt')">018</li>
                                                <li onclick="util.field_setting('tel1', '019', 'tel_txt')">019</li>
                                            </ul>
                                        </div>-
                                        <input name="tel2" title="연락처" validation="yes" id="tel2" type="text" maxlength="4" value="0000" class="input" style="width:124px" onkeyup="util.checknum('tel2', 'tel3', 3)"> -
                                        <input name="tel3" title="연락처" validation="yes" id="tel3" type="text" maxlength="4" value="0000" class="input" style="width:124px">
                                    </td>
                                </tr>
                                <tr class="anniv">
                                    <th>생일</th>
                                    <td>
                                        <input type="hidden" name="birth_chk" value="readonly">
                                        <input type="text" class="input" maxlength="4" name="birth_year" value="1234" readonly="" onkeyup="util.checknum('birth_year','birth_month','3')"> 년
                                        <input type="text" class="input modi_month" maxlength="2" name="birth_month" value="12" readonly="" onkeyup="util.checknum('birth_month','birth_day','1')"> 월
                                        <input type="text" class="input modi_day" maxlength="2" name="birth_day" value="31" readonly=""> 일
                                    </td>
                                </tr>
                                <tr class="anniv">
                                    <th>결혼기념일</th>
                                    <td>
                                        <input type="text" class="input" maxlength="4" name="marry_year" value="" onkeyup="util.checknum('marry_year', 'marry_month', '3');"> 년
                                        <input type="text" class="input modi_month" maxlength="2" name="marry_month" value="" onkeyup="util.checknum('marry_month', 'marry_day', '1');"> 월
                                        <input type="text" class="input modi_day" maxlength="2" name="marry_day" value="" > 일
                                    </td>
                                </tr>
                                <tr class="anniv">
                                    <th><input type="text" placeholder="기념일" name="event_title_1" value="" class="in-evtTit"></th>
                                    <td>
                                        <input type="text" class="input" name="event_year_1" maxlength="4" value=""  onkeyup="util.checknum('event_year_1', 'event_month_1', '3')"> 년
                                        <input type="text" class="input modi_month" name="event_month_1" value="" maxlength="2" onkeyup="util.checknum('event_month_1', 'event_day', '1');"> 월
                                        <input type="text" class="input modi_day" name="event_day_1" value="" maxlength="2"> 일
                                    </td>
                                </tr>
                                <tr class="anniv">
                                    <th><input type="text" name="event_title_2" placeholder="기념일" value="" class="in-evtTit"></th>
                                    <td>
                                        <input type="text" name="event_year_2" class="input" maxlength="4" value="" onkeyup="util.checknum('event_year_2', 'event_month_2', '3')"> 년
                                        <input type="text" name="event_month_2" class="input modi_month" value="" maxlength="2" onkeyup="util.checknum('event_month_2', 'event_day_2', '1')"> 월
                                        <input type="text" name="event_day_2" class="input modi_day" value="" maxlength="2" > 일
                                    </td>
                                </tr>
                                <!--<tr>
                        			<td colspan="2" style="background-color:#f8f8f8; text-align:center;">
                        				<a href="#">기념일 추가 <img src="http://img.go.co.kr/modify_ico_addday.gif" alt="" /></a>
                        			</td>
                        		</tr>-->
                                <tr>
                                    <td colspan="2" style="border-bottom:none">
                                        <input name="mail_agree" id="mail_agree" type="checkbox" checked="checked" value="Y">
                                        <label for="mail_agree" style="cursor:pointer">
                        				&nbsp;<b>메일/문자 수신 동의</b>  &nbsp;&nbsp;<span class="thColor1 f-bd">고코투어에서 제공하는 특가와 이벤트 정보를 받으시겠습니까?</span><br>
                        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원에게만 제공되는 할인쿠폰을 메일로 보내드립니다.</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="row-btn">
                            <a href="" class="a-1">정보수정</a>
                        </div>

                        <table class="modify_t type02">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>회원탈퇴</th>
                                    <td><a class="btn2" href="http://www.go.co.kr/home/member/?dd=RBstQTtUAUw1Cg==">자세히보기</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <!-- main end -->

            </div>
        </div>

        <% include ../parts/components/laypop/_inquiry1on1.ejs %>
        <% include ../parts/components/laypop/_cancle.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
