<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/mypage/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <!-- 별도 css 추가 영역 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/laypop/init.css">

    <% include ../parts/head/_headScript.ejs %>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
            <div class="rn-container rn-container02">
                <!-- 좌측 네비게이션 -->
                <% include ../parts/customer/_lab.ejs %>

                <div class="main main-myFaq bsLs">
                    <section class="sec-cmm cf sec-mfHistory">
                        <h2 class="cf">
                            문의내역 <span class="sm">FAQ에서 해결하지 못한 궁금증이 있으시면 문의글을 남겨주세요</span>
                            <span class="pull-right s-r">
                                <a href="javascipt:;" onclick="popOpen('.inquiry1on1')" class="btn-q">문의하기</a>
                                <a href="" class="btn-allq">
                                    나의 문의내역
                                </a>
                            </span>
                        </h2>
                        <table class="tb-bk tb-myFaq">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="nth-1">제목</th>
                                    <th class="nth-2">문의일</th>
                                    <th class="nth-3">답변일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 내용 없을 경우 -->
                                <!-- <tr class="nothing">
                                    <td colspan="6">
                                        <p>등록된 글이 없습니다.</p>
                                    </td>
                                </tr> -->
                                <!-- 내용 있을 경우 -->
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer wait">답변대기</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 예약취소 문의 드려요
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nth-1">
                                        <span href="" class="btn-answer ok">답변완료</span>
                                        <span class="f-bd">[예약변경/취소관련]</span> 애플 앱스토어 리뷰쿠폰 신청
                                    </td>
                                    <td class="nth-2">
                                        2018.04.11
                                    </td>
                                    <td class="nth-3">
                                        2018-05-01 12:09
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="pagenation" id="pagenation">
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span><span class="ic-lArrow"></span></a>
                            <a class="pprev" href="javascript:;"><span class="ic-lArrow"></span></a>
                            <a class="active" href="javascript:;">1</a>
                            <a href="javascript:;">2</a>
                            <a href="javascript:;">3</a>
                            <a href="javascript:;">4</a>
                            <a href="javascript:;">5</a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span></a>
                            <a class="nnext" href="javascript:;"><span class="ic-rArrow"></span><span class="ic-rArrow"></span></a>
                        </div>
                    </section>

                </div>
                <!-- main end -->

            </div>
        </div>

        <% include ../parts/components/laypop/_cancle.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
