//- 템플릿 상속 & 확장: extends, block
extends ../parts/_docTemplate

append config
    -var initPage = '/search/'

prepend stylesheets
    //- link(rel="stylesheet", href="http://static.go.co.kr/css/renew/libs/ion.rangeSlider.css")
    //- link(rel="stylesheet", href="http://static.go.co.kr/css/renew/libs/ion.rangeSlider.custom.css")
    link(rel="stylesheet", href="/static/css/renew/libs/ion.rangeSlider.css")
    link(rel="stylesheet", href="/static/css/renew/libs/ion.rangeSlider.custom.css")

prepend scripts
    //- script(src="http://static.go.co.kr/js/renew/libs/jquery.lazyload.min.js")
    //- script(src="http://static.go.co.kr/js/renew/libs/ion.rangeSlider.min.js")
    script(src="/static/js/renew/libs/jquery.lazyload.min.js")
    script(src="/static/js/renew/libs/ion.rangeSlider.min.js")

append scripts
    script(src="/static/js/renew" + initPage + "init.js")

block contents

    #backDrop
    
    include ../parts/_dateCtgr
    
    .rnL-contents
        .rn-container
        
            // 필터, 맵
            .rnL-mfOuter.clr
                block fOuter
                    #rnL-fOuter.rnL-fOuter.bsLs.clr
                        .d1
                            h2 검색결과 필터링
                            .d1-1.clr
                                span.ipCst
                                    input#imd.chk-cst(type='checkbox')
                                    label(for='imd')
                                    label(for='imd') 즉시 예약 가능한 숙소만 검색하기
                                button.reset(type='reset') 선택 초기화
                        .d1.clr
                            span.lbl.type1 숙소 유형
                            .d1-3
                                span.ipCst.nth-1
                                    input#r-chk1.chk-cst(type='checkbox')
                                    label(for='r-chk1')
                                    label(for='r-chk1') 호텔
                                span.ipCst.nth-2
                                    input#r-chk2.chk-cst(type='checkbox')
                                    label(for='r-chk2')
                                    label(for='r-chk2') 리조트
                                span.ipCst.nth-3
                                    input#r-chk3.chk-cst(type='checkbox')
                                    label(for='r-chk3')
                                    label(for='r-chk3') 콘도
                                span.ipCst.nth-4
                                    input#r-chk4.chk-cst(type='checkbox')
                                    label(for='r-chk')
                                    label(for='r-chk') 레지던스
                                span.ipCst.nth-5
                                    input#r-chk5.chk-cst(type='checkbox')
                                    label(for='r-chk5')
                                    label(for='r-chk5') 모텔
                                span.ipCst.nth-6
                                    input#r-chk6.chk-cst(type='checkbox')
                                    label(for='r-chk6')
                                    label(for='r-chk6') 유스호스텔
                                br
                                span.ipCst.nth-7
                                    input#r-chk7.chk-cst(type='checkbox')
                                    label(for='r-chk7')
                                    label(for='r-chk7') 펜션
                                span.ipCst.nth-8
                                    input#r-chk8.chk-cst(type='checkbox')
                                    label(for='r-chk8')
                                    label(for='r-chk8') 캠핑
                                span.ipCst.nth-9
                                    input#r-chk9.chk-cst(type='checkbox')
                                    label(for='r-chk9')
                                    label(for='r-chk9') 카라반
                                span.ipCst.nth-10
                                    input#r-chk10.chk-cst(type='checkbox')
                                    label(for='r-chk10')
                                    label(for='r-chk10') 풀빌라
                                span.ipCst.nth-11
                                    input#r-chk11.chk-cst(type='checkbox')
                                    label(for='r-chk11')
                                    label(for='r-chk11') 입장권
                        #htGrdBox.d1.clr
                            span.lbl 호텔 등급
                            button.ht-grd.on 없음
                            button.ht-grd ★
                            button.ht-grd ★★
                            button.ht-grd ★★★
                            button.ht-grd
                                | ★★
                                br
                                | ★★
                            button.ht-grd
                                | ★★
                                br
                                | ★★★
                        .d1.rgBox.clr
                            span.lbl.type1 가격 범위
                            input#prc-range
                        .d1.clr
                            span.lbl.type1 상세 장소
                            .d1-3.wdChkBox
                                span.ipCst
                                    input#rgn-chk1.chk-cst(type='checkbox')
                                    label(for='rgn-chk1')
                                    label(for='rgn-chk1') 강릉
                                span.ipCst
                                    input#rgn-chk2.chk-cst(type='checkbox')
                                    label(for='rgn-chk2')
                                    label(for='rgn-chk2') 동해
                                span.ipCst
                                    input#rgn-chk3.chk-cst(type='checkbox')
                                    label(for='rgn-chk3')
                                    label(for='rgn-chk3') 삼척
                                span.ipCst
                                    input#rgn-chk4.chk-cst(type='checkbox')
                                    label(for='rgn-chk')
                                    label(for='rgn-chk') 속초
                                span.ipCst
                                    input#rgn-chk5.chk-cst(type='checkbox')
                                    label(for='rgn-chk5')
                                    label(for='rgn-chk5') 원주
                                span.ipCst
                                    input#rgn-chk6.chk-cst(type='checkbox')
                                    label(for='rgn-chk6')
                                    label(for='rgn-chk6') 춘천
                                span.ipCst
                                    input#rgn-chk7.chk-cst(type='checkbox')
                                    label(for='rgn-chk7')
                                    label(for='rgn-chk7') 태백
                                span.ipCst
                                    input#rgn-chk8.chk-cst(type='checkbox')
                                    label(for='rgn-chk8')
                                    label(for='rgn-chk8') 고성
                                span.ipCst
                                    input#rgn-chk9.chk-cst(type='checkbox')
                                    label(for='rgn-chk9')
                                    label(for='rgn-chk9') 양양
                                span.ipCst
                                    input#rgn-chk10.chk-cst(type='checkbox')
                                    label(for='rgn-chk10')
                                    label(for='rgn-chk10') 정선
                                span.ipCst
                                    input#rgn-chk11.chk-cst(type='checkbox')
                                    label(for='rgn-chk11')
                                    label(for='rgn-chk11') 평창
                                span.ipCst
                                    input#rgn-chk12.chk-cst(type='checkbox')
                                    label(for='rgn-chk12')
                                    label(for='rgn-chk12') 홍천
                                span.ipCst
                                    input#rgn-chk13.chk-cst(type='checkbox')
                                    label(for='rgn-chk13')
                                    label(for='rgn-chk13') 횡성
                        .d1.rgBox.scrRgBox.clr
                            span.lbl.type1 고객 평점
                            input#score-range
                        .d1.last.clr
                            span.lbl.type1 고객 편의
                            .d1-3.wdChkBox-2
                                span.ipCst
                                    input#cv-chk1.chk-cst(type='checkbox')
                                    label(for='cv-chk1')
                                    label(for='cv-chk1') Wi-Fi
                                span.ipCst
                                    input#cv-chk2.chk-cst(type='checkbox')
                                    label(for='cv-chk2')
                                    label(for='cv-chk2') 조식
                                span.ipCst
                                    input#cv-chk3.chk-cst(type='checkbox')
                                    label(for='cv-chk3')
                                    label(for='cv-chk3') 주차
                                span.ipCst
                                    input#cv-chk4.chk-cst(type='checkbox')
                                    label(for='cv-chk')
                                    label(for='cv-chk') 욕조
                                span.ipCst
                                    input#cv-chk5.chk-cst(type='checkbox')
                                    label(for='cv-chk5')
                                    label(for='cv-chk5') 에어컨
                                span.ipCst
                                    input#cv-chk6.chk-cst(type='checkbox')
                                    label(for='cv-chk6')
                                    label(for='cv-chk6') 냉장고
                                span.ipCst
                                    input#cv-chk7.chk-cst(type='checkbox')
                                    label(for='cv-chk7')
                                    label(for='cv-chk7') 스파
                                span.ipCst
                                    input#cv-chk8.chk-cst(type='checkbox')
                                    label(for='cv-chk8')
                                    label(for='cv-chk8') 수영장
                                span.ipCst
                                    input#cv-chk9.chk-cst(type='checkbox')
                                    label(for='cv-chk9')
                                    label(for='cv-chk9') 연회장
                                span.ipCst
                                    input#cv-chk10.chk-cst(type='checkbox')
                                    label(for='cv-chk10')
                                    label(for='cv-chk10') 레스토랑
                                span.ipCst
                                    input#cv-chk11.chk-cst(type='checkbox')
                                    label(for='cv-chk11')
                                    label(for='cv-chk11') 노래방
                                span.ipCst
                                    input#cv-chk12.chk-cst(type='checkbox')
                                    label(for='cv-chk12')
                                    label(for='cv-chk12') 바베큐
                                span.ipCst
                                    input#cv-chk13.chk-cst(type='checkbox')
                                    label(for='cv-chk13')
                                    label(for='cv-chk13') 라운지
                                span.ipCst
                                    input#cv-chk14.chk-cst(type='checkbox')
                                    label(for='cv-chk14')
                                    label(for='cv-chk14') 취사가능
                                span.ipCst
                                    input#cv-chk15.chk-cst(type='checkbox')
                                    label(for='cv-chk15')
                                    label(for='cv-chk15') 반려동물
                                span.ipCst
                                    input#cv-chk16.chk-cst(type='checkbox')
                                    label(for='cv-chk16')
                                    label(for='cv-chk16') TV
                                span.ipCst
                                    input#cv-chk17.chk-cst(type='checkbox')
                                    label(for='cv-chk17')
                                    label(for='cv-chk17') 피트니스
                                span.ipCst
                                    input#cv-chk18.chk-cst(type='checkbox')
                                    label(for='cv-chk18')
                                    label(for='cv-chk18') 장애인시설
                block mOuter
                    .rnL-mOuter.bsLs.clr
                    
            // 검색결과 리스트
            block listOuter
                #rnL-listOuter.rnL-listOuter.bsLs
                    // 검색시 예약 현황 퍼센트 등장
                    block reserPerc
                        .reserPerc.clr
                            .perBox
                                #reserChart.reserChart
                                    .circle-outer.top
                                        .circle-bodyBg
                                        .circle-inner
                                            .circle-body
                                        .circle-bodyBgIn
                                    .chart-content
                                        p.text
                                            span.percent-number 55
                                            span.percent-symbol %
                            .psBox
                                p.p1
                                    | 고객님의 선택 날짜에 [강원- 속초/고성/양양]의 객실이 
                                    span.f-bd 50개 검색
                                    | 되었습니다. 
                                    span.thColor1 - 객실의 55% 이상 예약 완료!
                                p.p1 해당 날짜에 객실 수요가 높습니다. 숙소예약을 서두르세요.
                    block bestC
                        .bestC-outer
                            .h2-box
                                h2.first BEST 추천숙소
                            ul.ul1.clr
                                li
                                    a(href='#')
                                        .d1(style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg') no-repeat; background-size: 100% 100%;")
                                            img.rn_rowPrc(src='http://img.go.co.kr/mobile/banner_lowest_price.gif', alt='온라인최저가보장')
                                        .d2
                                            p.p1
                                                span.i-ctgr-01 리조트
                                                | 7.5점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 10
                                                | 건
                                            p.p2
                                                strong 오션투유리조트 속초설악비치 호텔
                                            p.p3
                                                | 강원
                                                span.mgl
                                                | 고성군
                                            p.p4
                                                em.s1
                                                    | 64,000
                                                    span 원
                                                s.s2 330,000원
                                                em.s3
                                                    | 81%
                                                    span.c-ic.i-rDnArr
                                li
                                    a(href='#')
                                        .d1(style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1476348760_main1.jpg') no-repeat; background-size: 100% 100%;")
                                            img.rn_rowPrc(src='http://img.go.co.kr/mobile/banner_lowest_price.gif', alt='온라인최저가보장')
                                        .d2
                                            p.p1
                                                span.i-ctgr-02 리조트/콘도
                                                | 8.0점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 5
                                                | 건
                                            p.p2
                                                strong 속초현대수콘도미니엄
                                            p.p3
                                                | 강원
                                                span.mgl
                                                | 속초시
                                            p.p4
                                                em.s1
                                                    | 64,000
                                                    span 원
                                                s.s2 200,000원
                                                em.s3
                                                    | 74%
                                                    span.c-ic.i-rDnArr
                                li
                                    a(href='#')
                                        .d1(style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1498529278_main1.jpg') no-repeat; background-size: 100% 100%;")
                                            img.rn_rowPrc(src='http://img.go.co.kr/mobile/banner_lowest_price.gif', alt='온라인최저가보장')
                                        .d2
                                            p.p1
                                                span.i-ctgr-03 호텔
                                                | 9.2점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 122
                                                | 건
                                            p.p2
                                                strong 낙산비치호텔
                                            p.p3
                                                | 강원
                                                span.mgl
                                                | 양양군
                                            p.p4
                                                em.s1
                                                    | 77,000
                                                    span 원
                    block schResult
                    block recC
                        .recC-outer
                            block h2Box-1
                                .h2-box
                                    h2 추천숙소
                                    #drop-box.drop-box
                                        .drop-btn
                                            span.c-ic.i-alg
                                            span.s-txt 정렬: 추천순
                                            span.c-ic.i-dArr
                                        ul.drop-menu
                                            li
                                                a(href='javascript:;') 평점
                                            li
                                                a(href='javascript:;') 낮은 가격
                                            li
                                                a(href='javascript:;') 높은 가격
                                            li
                                                a(href='javascript:;') 호텔 등급
                                            li
                                                a(href='javascript:;') 추천순
                            ul.rcm-ul
                                li.rcm-itm.clr
                                    .d1
                                        img.itm-img(src='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg', data-original='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg', alt='상품이미지')
                                    .d2
                                        p.p1
                                            span.i-ctgr-02 리조트/콘도
                                            | 강원
                                            span.mgl
                                            | 고성시
                                        p.p2
                                            strong 설악썬밸리리조트
                                        .p3
                                            p.p3-1
                                                | 8.5점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 2
                                                | 건 
                                                span.s2 패키지
                                            p.p3-1 삼포해수욕장 차량 6분 위치
                                    .d3
                                        span.s-blSign 인기상승 중!
                                        .d3-inner.clr
                                            p.p1
                                                | 90,000
                                                span 원
                                            p.p2
                                                em.s1
                                                    | 78%
                                                    span.c-ic.i-rDnArr
                                                s.s2 400,000원
                                            p.p3
                                                | 회원적립금 
                                                span.s1 640원
                                                | 적립
                                            p.p4
                                                a.a1(href='/views/product') 예약하기
                                li.rcm-itm.clr
                                    .d1
                                        img.itm-img(src='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1482454780_main1.jpg', data-original='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1482454780_main1.jpg', alt='상품이미지')
                                    .d2
                                        p.p1
                                            span.i-ctgr-02 리조트/콘도
                                            | 강원
                                            span.mgl
                                            | 속초시
                                        p.p2
                                            strong 팜파스리조트
                                        .p3
                                            p.p3-1
                                                | 9.1점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 30
                                                | 건
                                            p.p3-1 삼포해수욕장 도보 6분 위치
                                    .d3
                                        .d3-inner.clr
                                            p.p1
                                                | 58,300
                                                span 원
                                            p.p3
                                                | 회원적립금 
                                                span.s1 640원
                                                | 적립
                                            p.p4
                                                a.a1(href='#') 예약하기
                                li.rcm-itm.clr
                                    .d1
                                        img.itm-img(src='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426745103_main1.jpg', data-original='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426745103_main1.jpg', alt='상품이미지')
                                    .d2
                                        p.p1
                                            span.i-ctgr-03 호텔
                                            | 강원
                                            span.mgl
                                            | 속초시
                                        p.p2
                                            strong 더클래스300호텔
                                        .p3
                                            p.p3-1
                                                | 8.9점
                                                span.mgl
                                                | 리뷰 
                                                span.s1 16
                                                | 건 
                                                span.s2 패키지
                                            p.p3-1 삼포해수욕장 도보 16분 위치
                                    .d3
                                        .d3-inner.clr
                                            p.p1
                                                | 59,400
                                                span 원
                                            p.p2
                                                em.s1
                                                    | 46%
                                                    span.c-ic.i-rDnArr
                                                s.s2 110,000원
                                            p.p3
                                                | 회원적립금 
                                                span.s1 640원
                                                | 적립
                                            p.p4
                                                a.a1(href='#') 예약하기

block footer
