extends index

//- 필터
block fOuter

//- 맵
block mOuter
    // 지도검색
    link(rel="stylesheet", href="/static/css/renew/search/map.css")
    script(type='text/javascript', src='https://openapi.map.naver.com/openapi/v3/maps.js?clientId=4F4axLMP8XEWby2zMImL&submodules=geocoder&callback=initMap')
    script(type='text/javascript', src='https://openapi.map.naver.com/openapi/v3/maps-geocoder.js')
    
    #rnL-mOuter.rnL-mOuter.bsLs.clr
        #map(style='width:100%; position: relative;')
        //-
            <div class="iw_inner clr">
            <div class="d1" style="background: url(http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1491388368_1.jpg) center top; background-size: 160px;"></div>
            <div class="d2">
            <p class="p1">오션투유리조트</p>
            <p class="p2">6.5점</p>
            <p class="p3">￦ 64,000</p>
            </div>
            <a href="javascript:;" class="a-x" id="a-x"></a>
            </div>
            <style>.iw_inner {position: absolute; top: 10px; left: 10px;}</style>
            
        //- script(type='text/javascript', src='/static/js/renew/search/map.js')
        script.
            var map = null;
            function initMap() {


                var mapOptions = {
                zoomControl: true,
                zoomControlOptions: {
                    style: naver.maps.ZoomControlStyle.SMALL,
                    position: naver.maps.Position.TOP_RIGHT
                }
                };
              var map = new naver.maps.Map(document.getElementById('map'), mapOptions);

              var myaddress = '강원도 고성군 죽왕면 삼포해변길 9';


              naver.maps.Service.geocode({address: myaddress}, function(status, response) {

                  /*if (status !== naver.maps.Service.Status.OK) {
                      return alert(myaddress + '의 검색 결과가 없거나 기타 네트워크 에러');
                  }*/

                  var result = response.result;
                  // 검색 결과 갯수: result.total
                  // 첫번째 결과 결과 주소: result.items[0].address
                  // 첫번째 검색 결과 좌표: result.items[0].point.y, result.items[0].point.x


                  var myaddr = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
                  map.setCenter(myaddr); // 검색된 좌표로 지도 이동

                  map.setOptions({ //지도 인터랙션 끄기
                        draggable: true,
                        pinchZoom: false,
                        scrollWheel: false,
                        keyboardShortcuts: false,
                        disableDoubleTapZoom: true,
                        disableDoubleClickZoom: true,
                        disableTwoFingerTapZoom: true,
                        zoom: 10, //지도의 초기 줌 레벨
                        //minZoom: 10, //지도의 최소 줌 레벨
                        //maxZoom: 12, //지도의 최소 줌 레벨
                        zoomControl: true, //줌 컨트롤의 표시 여부
                        zoomControlOptions: { //줌 컨트롤의 옵션
                                position: naver.maps.Position.TOP_RIGHT
                            },
                    });

                  // 마커 표시 직접 검색단어 검색된 결과는 Atv
                  var marker = new naver.maps.Marker({
                        position: myaddr,
                        map: map,
                        icon: {
                            //url: 'http://img.go.co.kr/renew/map/marker.png',
                            url: 'http://img.go.co.kr/renew/map/markerAtv.png',
                    size: new naver.maps.Size(22, 28)
                        }
                  });

                    var contentString = [
                            '<div class="iw_inner clr">',
                            '	<div class="d1" style="background: url(http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1491388368_1.jpg) center top; background-size: 160px;"></div>',
                            '		<div class="d2">',
                            '			<p class="p1">오션투유리조트</p>',
                            '			<p class="p2">8.5점</p>',
                            '			<p class="p3">￦ 64,000</p>',
                            '		</div>',
                            '</div>'
                        ].join('');

                    var infowindow = new naver.maps.InfoWindow({
                        content: contentString,
                        borderWidth: 0,
                        backgroundColor: 'transparent',
                        disableAnchor: true,
                        pixelOffset: new naver.maps.Point(135, 8),
                    });

                    // 검색단어로 검색시 정보창 표시하기
                    infowindow.open(map, marker);

                  // 마커 클릭 이벤트 처리
                  naver.maps.Event.addListener(marker, "click", function(e) {
                        if (infowindow.getMap()) {
                            infowindow.close();
                        } else {
                            infowindow.open(map, marker);
                        }

                  });

                  marker.addListener('mouseover', onMouseOver);
                marker.addListener('mouseout', onMouseOut);


                    function onMouseOver(e) {
                    var marker = e.overlay,
                    seq = marker.get('seq');

                        infowindow.open(map, marker);
                    }

                    function onMouseOut(e) {
                    var marker = e.overlay,
                    seq = marker.get('seq');

                        infowindow.close();
                    }

              });


              /* 주변 검색시 지도 표시 예시 */

              var myaddressEtc = '강원도 고성군 죽왕면 삼포해변길 10';


              naver.maps.Service.geocode({address: myaddressEtc}, function(status, response) {

                  /*if (status !== naver.maps.Service.Status.OK) {
                      return alert(myaddressEtc + '의 검색 결과가 없거나 기타 네트워크 에러');
                  }*/

                  var result = response.result;
                  // 검색 결과 갯수: result.total
                  // 첫번째 결과 결과 주소: result.items[0].address
                  // 첫번째 검색 결과 좌표: result.items[0].point.y, result.items[0].point.x


                  var myaddr = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
                  map.setCenter(myaddr); // 검색된 좌표로 지도 이동

                  map.setOptions({ //지도 인터랙션 끄기
                        draggable: true,
                        pinchZoom: false,
                        scrollWheel: false,
                        keyboardShortcuts: false,
                        disableDoubleTapZoom: true,
                        disableDoubleClickZoom: true,
                        disableTwoFingerTapZoom: true,
                        zoom: 10, //지도의 초기 줌 레벨
                        //minZoom: 10, //지도의 최소 줌 레벨
                        //maxZoom: 12, //지도의 최소 줌 레벨
                        zoomControl: true, //줌 컨트롤의 표시 여부
                        zoomControlOptions: { //줌 컨트롤의 옵션
                                position: naver.maps.Position.TOP_RIGHT
                            },
                    });

                  // 마커 표시 직접 검색단어 검색된 결과는 Atv
                  var marker = new naver.maps.Marker({
                        position: myaddr,
                        map: map,
                        icon: {
                            //url: 'http://img.go.co.kr/renew/map/marker.png',
                            url: 'http://img.go.co.kr/renew/map/marker.png',
                    size: new naver.maps.Size(22, 28)
                        }
                  });

                    var contentString = [
                            '<div class="iw_inner clr">',
                            '	<div class="d1" style="background: url(http://img.yapen.co.kr/pension/etc/25230/800x0/3547833684_GEoKRMQH_IMG_4739.jpg) center top; background-size: 160px;"></div>',
                            '		<div class="d2">',
                            '			<p class="p1">홍가네</p>',
                            '			<p class="p2">7.5점</p>',
                            '			<p class="p3">￦ 24,000</p>',
                            '		</div>',
                            '</div>'
                        ].join('');

                    var infowindow = new naver.maps.InfoWindow({
                        content: contentString,
                        borderWidth: 0,
                        backgroundColor: 'transparent',
                        disableAnchor: true,
                        pixelOffset: new naver.maps.Point(135, 8),
                    });


                  // 마커 클릭 이벤트 처리
                  naver.maps.Event.addListener(marker, "click", function(e) {
                        if (infowindow.getMap()) {
                            infowindow.close();
                            marker.setIcon({
                        url: 'http://img.go.co.kr/renew/map/marker.png',
                        size: new naver.maps.Size(22, 28)
                        });
                        } else {
                            infowindow.open(map, marker);
                            marker.setIcon({
                        url: 'http://img.go.co.kr/renew/map/markerOn.png',
                        size: new naver.maps.Size(22, 28)
                        });
                        }

                  });



                marker.addListener('mouseover', onMouseOver);
                marker.addListener('mouseout', onMouseOut);


                    function onMouseOver(e) {
                    var marker = e.overlay,
                    seq = marker.get('seq');

                    marker.setIcon({
                    url: 'http://img.go.co.kr/renew/map/markerOn.png',
                    size: new naver.maps.Size(22, 28)
                    });

                        infowindow.open(map, marker);
                    }

                    function onMouseOut(e) {
                    var marker = e.overlay,
                    seq = marker.get('seq');

                    marker.setIcon({
                    url: 'http://img.go.co.kr/renew/map/marker.png',
                    size: new naver.maps.Size(22, 28)
                    });

                        infowindow.close();
                    }



              });





            }
            
            
