extends index

//- 맵
block mOuter

//- 퍼센트
block reserPerc

//- 베스트상품
block bestC

//- 검색결과, 배너추가
block schResult
    .recC-outer
        // schBtn-non 추가 
        .h2-box.schBtn-non
            h2 검색결과
        ul.rcm-ul
            li.rcm-itm.clr
                .d1
                    img.itm-img(src='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg', data-original='http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg', alt='상품이미지')
                .d2
                    p.p1
                        span.i-ctgr-02 리조트/콘도
                        | 강원
                        span.mgl
                        | 고성시
                    p.p2
                        strong 설악썬밸리리조트
                    .p3
                        p.p3-1
                            | 8.5점
                            span.mgl
                            | 리뷰 
                            span.s1 2
                            | 건 
                            span.s2 패키지
                        p.p3-1 삼포해수욕장 차량 6분 위치
                .d3
                    span.s-blSign 인기상승 중!
                    .d3-inner.clr
                        p.p1
                            | 90,000
                            span 원
                        p.p2
                            em.s1
                                | 78%
                                span.c-ic.i-rDnArr
                            s.s2 400,000원
                        p.p3
                            | 회원적립금 
                            span.s1 640원
                            | 적립
                        p.p4
                            a.a1(href='#') 예약하기
        // 배너 추가시
        div.bn-box
            img(src="http://img.go.co.kr/bn_app03.jpg")

//- 추천상품
block h2Box-1
    .h2-box
        h2.borB
            span.h2-sch
                | 근처 추천숙소 
        #drop-box.drop-box
            .drop-btn
                span.c-ic.i-alg
                span.s-txt 정렬: 추천순
                span.c-ic.i-dArr
            ul.drop-menu
                li
                    a(href='javascript:;') 평점
                li
                    a(href='javascript:;') 낮은 가격
                li
                    a(href='javascript:;') 높은 가격
                li
                    a(href='javascript:;') 호텔 등급
                li
                    a(href='javascript:;') 추천순
