extends index

//- 맵
block mOuter

// 리스트 결과 없을경우
block listOuter
    #rnL-listOuter.rnL-listOuter.bsLs
        div.schNonBox
            img(src="http://img.go.co.kr/renew/pic_schNone.png" alt="검색결과가없습니다.")
            p.text
                <span class="f-bd">“오샨 리조트”</span>에 대한 검색결과가 없습니다.<br>다시 검색해주세요.
    
