<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/product/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        <% include ../parts/search/_filterBar.ejs %>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
			<!--상품소개-->
			<section class="rn-container sec-prd-basic">
                <h2>[일본] 호텔 루트인 도쿄 아사가야 (Hotel Route-Inn Tokyo Asagaya)</h2>

				<div class="prd-basic clr">
					<div class="prd-imgBox">
						<ul class="bxS" id="bxS-1">
							<li><img class="bxImg" src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_6_b.jpg" title="시설이미지" /></li>
							<li><img class="bxImg" src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_3_b.jpg" title="시설이미지" /></li>
							<li><img class="bxImg" src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_1_b.jpg" title="시설이미지" /></li>
							<li><img class="bxImg" src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_6_b.jpg" title="시설이미지" /></li>
						</ul>

						<div class="bxP" id="bxP-1">
							<a data-slide-index="0" href=""><img src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_6_b.jpg" /></a>
							<a data-slide-index="1" href=""><img src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_3_b.jpg" /></a>
							<a data-slide-index="2" href=""><img src="http://media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_1_b.jpg" /></a>
							<a class="more-a" href="http://cache.go.co.kr/media/1000/media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_6_z.jpg" rel="prettyPhoto[gallery1]" title="시설이미지"><img src="http://cache.go.co.kr/media/1000/media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_6_z.jpg" rel="prettyPhoto[gallery1]"/></a>
                            <a class="hidden" href="http://cache.go.co.kr/media/1000/media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_8_z.jpg" rel="prettyPhoto[gallery1]" title="시설이미지"></a>
							<a class="hidden" href="http://cache.go.co.kr/media/1000/media.expedia.com/hotels/5000000/4350000/4349700/4349642/4349642_3_z.jpg" rel="prettyPhoto[gallery1]" title="시설이미지"></a>
						</div>
					</div>
					<div class="prd-infoBox" id="prd-infBox">
						<div class="d1">
							<a class="a1" href="javascript:;"><span>리얼리뷰</span> <span class="thColor1 num">435</span><span>건</span></a>
							<span class="mgl"></span>
							<a class="a2" href="javascript:;" onclick="$(this).toggleClass('on');"><span class="c-ic3 prd-cmm i-heart"></span><span class="s1">찜하기</span></a>
							<span class="mgl"></span>
							<a class="a3" href="javascript:;" onclick="$('#share-pop-layer').toggle();"><span class="c-ic3 prd-cmm i-share"></span><span class="s1">공유</span></a>
							<span class="mgl"></span>
							<a class="a4" href="javascript:;"><span class="c-ic3 prd-cmm i-users"></span><span class="s1">단체문의</span></a>
							<span class="mgl"></span>
							<a class="a5" href="javascript:;" onclick="popOpen('.popup-app-download')"><span class="c-ic3 prd-cmm i-coupon"></span><span class="s1">7만원 할인</span><span class="c-ic3 prd-cmm i-down"></span></a>

							<!-- 공유 팝업 -->
							<div class="pop-layer" id="share-pop-layer">
								<ul class="ul-1 clr">
									<li class="nth-1">
										<a href="">
											<div><span class="c-ic3 sha-cmm i-twit"></span></div>
											<p>트위터</p>
										</a>
									</li>
									<li class="nth-2">
										<a href="">
											<div><span class="c-ic3 sha-cmm i-faceb"></span></div>
											<p>페이스북</p>
										</a>
									</li>
									<li class="nth-3">
										<a href="">
											<div><span class="c-ic3 sha-cmm i-email"></span></div>
											<p>이메일</p>
										</a>
									</li>
									<li class="nth-4">
										<a href="">
											<div><span class="c-ic3 sha-cmm i-sms"></span></div>
											<p>문자</p>
										</a>
									</li>
								</ul>
								<a href="javascript:;" onclick="$(this).closest('.pop-layer').hide();" class="clsBtn a-i-x a-x"></a>
							</div>
						</div>
						<div class="d-date clr">
							<div class="d-date-1">
								<p class="p1">체크인</p>
								<p class="p2"><span class="c-ic2 i-chkIn"></span></p>
								<p class="p3">2017-10-18</p>
							</div>
							<div class="d-date-2">
								<p class="p2"><span class="c-ic3 i-term"></span></p>
								<p class="p3">1박</p>
							</div>
							<div class="d-date-3">
								<p class="p1">체크아웃</p>
								<p class="p2"><span class="c-ic2 i-chkOut"></span></p>
								<p class="p3">2017-10-19</p>
							</div>

							<!--달력-->
							<% include ../parts/components/calendar/_calendar_db_t02.ejs %>
						</div>
						<div class="d3 d-cmm">
							<span class="s-lbl">분류</span>
							<span class="s-txt">리조트 (총 객실 수: 249개)</span>
						</div>
						<div class="d4 d-cmm">
							<span class="s-lbl">주소</span>
							<span class="s-txt">5-35-14, Narita-higashi,Tokyo,일</span>
							<a href="javascript:;"><img class="mvImg" src="http://img.go.co.kr/landing/point_icon02.jpg" alt="지도보기"></a>
						</div>
						<div class="d5 d-cmm">
							<span class="s-lbl">이용시간</span>
							<span class="s-txt">체크인 15:00 / 체크아웃 10:00</span>
						</div>
						<div class="d6 d-cmm">
							<span class="s-lbl">위치</span>
							<span class="s-txt">도쿄(도쿄 서부)에 위치</span>
						</div>
                        <div class="d7 d-cmm">
							<span class="s-lbl">부대시설</span>
							<div class="d-txt cf">
                                <!-- span.itm>img+span.name -->
                                <span class="itm cf"><img src="http://img.go.co.kr/establishment_icon13.png" alt="조식"><span class="name">조식</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon15.png" alt="와이파이"><span class="name">와이파이</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon8.png" alt="식당"><span class="name">식당</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon4.png" alt="세탁실"><span class="name">세탁실</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon16.png" alt="엘레베이터"><span class="name">엘레베이터</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon17.png" alt="컴퓨터스테이션"><span class="name">컴퓨터 스테이션</span></span>
                                <span class="itm"><img src="http://img.go.co.kr/establishment_icon1.png" alt="회의실"><span class="name">회의실</span></span>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<!--예약하기-->
			<div class="sec-prd-buy" id="sec-prd-buy">
				<div class="rn-container prd-buy" id="prd-buy">
					<ul class="ul1 clr">
						<li class="li1">
							<p class="p0">
								<button type="button" class="appe-s-reset btn-chk">날짜확인</button>
							</p>
							<p class="p1 ftfm-mg">
								<span class="s1">2017-10-18</span>
								<span class="s2 c-ic3 i-rArrW"></span>
								<span class="s3">2017-10-18</span>
							</p>
						</li>
						<li class="li2">
							<p class="p0">
								<button type="button" class="appe-s-reset btn-chk">객실확인</button>
								<span class="s-name">오션뷰 호텔 리노베이션</span>
							</p>
							<p class="p1">
								객실 1 / 성인 2명, 소아 0명
							</p>
						</li>
						<li class="li3">
							<span class="s-box">
								<s>330,000원</s>
								<span class="s-pric">94,000</span>
							</span>
							<button type="button" class="appe-s-reset btn-b ftfm-mg">예약하기</button>
						</li>
					</ul>
				</div>
			</div>

			<!--상품리스트-->
			<section class="sec-prd-list" id="sec-prd-list">

				<div class="thead rn-container">
					<ul class="tr clr">
						<li class="nth-1">상품선택</li>
						<li class="nth-2">기준인원/최대인원</li>
						<li class="nth-3">요금(세금 봉사료 포함) <span class="s-q" onclick="toggleOn('#discount_pop', 'self')">?</span></li>
						<li class="nth-4">고코 앱 특가 <span class="c-ic3 i-lowP" onclick="popOpen('.price_all_layer_pop')"></span></li>
					</ul>
					<!-- ? 아이콘 클릭 시 등장 -->
					<div id="discount_pop">
						<div class="tit">회원 추가할인 안내
							<a href="javascript:;" onclick="popCls('#discount_pop')" title="닫기"><img class="clsImg" src="http://img.go.co.kr/btn_x2.jpg" alt="닫기"></a>
						</div>
						<div class="text">
							<p><b>1. 적립금 할인</b></p>
							<p class="dot">회원가입시 바로 사용 가능한 <span>30,000원 쿠폰팩이 지급</span>됩니다.</p>
							<p class="dot"> 로그인 후 결제시 <span>결제금액의 1%</span>를 적립금으로 돌려드립니다.</p>
							<br>
							<p><b>2. 쿠폰 할인</b></p>
							<p class="dot"><span> 회원에게만 할인쿠폰</span>이 제공됩니다.</p>
							<p class="dot">회원가입 후 다양한 쿠폰 혜택을 누리세요.</p>
						</div>
					</div>

				</div>


				<div class="tbody" id="prd-tb">
					<div class="d-item">
						<ul class="tr tr-nothing">
							<li class="nothing">
                                <p class="p-1 f-bd">05월 23일은 이용가능한 객실이 없습니다.</p>
                                <p class="p-1">예약 가능한 날짜 객실 조회 <a href="javascript:;" onclick="popOpen('#calendar-db');" class="a-cal"><span class="c-ic i-wCal2"></span></a></p>
							</li>
						</ul>
					</div>
				</div>
            </section>

            <section class="contents-overseas">
                <div class="outer-overseas boxs">
                    <h3>
                        <span class="big">고객님이 좋아할 [<span class="f-bd">APA 호텔 신주쿠 교엔마에</span>] 인근 추천상품</span>
                    </h3>
                    <div class="box-prod boxs">
                        <div class="row-prod cf">
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/3000000/2600000/2591400/2591359/8d286724_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[도쿄]시티 호텔 N.U.T.S.</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/4000000/3760000/3752100/3752047/3752047_1_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[도쿄]시티 호텔 N.U.T.S.</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/5000000/4200000/4191200/4191168/4191168_35_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[도쿄]시티 스테이 신주쿠</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3.5성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/1000000/20000/10900/10857/10857_113_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[도쿄]호텔 타테시나</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box-prod boxs">
                        <div class="row-prod cf">
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/2000000/1990000/1985000/1984925/1984925_96_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[오사카]호텔 브라이턴 시티 오사카...</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">547,500<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/11000000/10380000/10373300/10373231/944a956b_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[오사카]호스텔 주</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/1000000/30000/22900/22877/22877_169_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[오사카]하얏트 리젠시 오사카</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-half.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>4.5성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                            <a href="" class="itm cf">
                                <figure><img src="http://cache.go.co.kr/media/375/media.expedia.com/hotels/1000000/200000/199200/199119/199119_288_b.jpg" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="room_img"></figure>
                                <div class="info">
                                    <em class="name">[오사카]리츠칼튼 오사카</em>
                                    <p class="p-1">
                                        <span class="s-star">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-on.png">
                                            <img src="http://img.go.co.kr/visor/star-off.png">
                                        </span>
                                        <span class="s-l">ㅣ</span> <span>3성급</span>
                                    </p>
                                    <p class="p-2 cf"><span class="f-bdr c-red pull-right">112,100<span class="won">원~</span></span></p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </section>
		</div>
        <!-- 콘텐츠 끝 -->

        <!-- 팝업용 싱글 및 더블 달력 -->
        <% include ../parts/components/laypop/_calendar_db.ejs %>
        <% include ../parts/_footer.ejs %>
    </div>
</body>
