<!DOCTYPE html>
<html lang="ko">

<head>
    <meta property="qc:admins" content="1015350526677637632">
    <title>고코투어 속초현대수콘도미니엄 </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="expire" content="-1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="imagetoolbar" content="false">
    <link rel="canonical" href="http://www.go.co.kr">
    <!-- 대표 URL -->
    <meta name="naver-site-verification" content="7ac35ac4c02879644169c47cbe25cb6847e8705f">

    <meta property="og:type" content="website">
    <meta property="og:title" content="고코투어">
    <meta property="og:description" content="국내외여행, 호텔, 펜션, 리조트, 콘도 최저가할인예약 속초현대수콘도미니엄  고코투어">
    <meta property="og:image" content="http://img.go.co.kr/tournspa.ico?ver=20180605102240">
    <meta property="og:url" content="http://www.go.co.kr">

    <!-- 앱 -->
    <!-- 안드로이드 -->
    <meta property="al:android:url" content="market://details?id=kr.co.go.travel.app">
    <meta property="al:android:app_name" content="고코투어">
    <meta property="al:android:package" content="kr.co.go.travel.app">
    <!-- 안드로이드 -->
    <!-- 아이폰 -->
    <meta property="al:ios:url" content="itms-apps://itunes.apple.com/app/id1091429916?mt=8">
    <meta property="al:ios:app_store_id" content="1091429916">
    <meta property="al:ios:app_name" content="고코투어">
    <!-- 아이폰 -->
    <meta property="al:web:url" content="http://go.co.kr">
    <!-- 앱 -->

    <meta name="robots" content="ALL">
    <meta name="author" content="GO.CO.KR 고코투어">
    <meta name="description" content="국내외여행, 호텔, 펜션, 리조트, 콘도 최저가할인예약 속초현대수콘도미니엄  고코투어">
    <meta name="classification" content="GO.CO.KR 고코투어">
    <meta name="keywords" content="속초현대수콘도미니엄  GO.CO.KR 고코투어">
    <link rel="shortcut icon" href="http://img.go.co.kr/tournspa.ico?ver=3">

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css?ver=20180605102240">


    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css?ver=20180605102240">

    <link href="http://static.go.co.kr/css/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/footer.css?ver=201806051022402323232">
    <!-- // 2017-03-27 고코푸터 -->
    <!-- 모든사이트 통합 css -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/totalweb.css?ver=20180605102240" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/advisor.css?ver=20180605102240">

    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/event.css?ver=20180605102240">
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/prettyPhoto.css?ver=20180605102240" media="screen" title="prettyPhoto main stylesheet" charset="utf-8">




    <!-- 검색시 달력에서 이용 -->
    <link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="http://static.go.co.kr/js/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/bootstrap.css">

    <link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20180605102240" type="text/css">
    <script type="text/javascript" src="http://static.go.co.kr/js/swiper.min.js?ver=20180605102240"></script>
    <!-- 20170227 입장권 UI변경하며 추가  -->
    <script type="text/javascript" src="http://static.go.co.kr/js/reserve_pc.js?ver=20180605102240"></script>





    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/common.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/product/init.css">

    <script src="http://static.go.co.kr/js/renew/common.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/product/init.js"></script>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalweb_ie8.css" />
    <![endif]-->

</head>

<body>

    <div id="bannerTop">
        <div class="close"><a href="javascript:utils.appbn('', 'bannerTop');" title="닫기"><img src="http://img.go.co.kr/bn_app05.jpg?ver=20180605102240"></a></div>
        <div class="btn">
            <div class="detail">

                <a href="javascript:utils.app_layer_new('bannertop_layer', '');" title="자세히보기"><img src="http://img.go.co.kr/bn_app01.jpg" id="bannertop_btn" style="display: inline;"></a>
                <!--레이어팝업 노출시 버튼명 변경  <a href="" title="닫기"><img src="http://img.go.co.kr/bn_app02.jpg"></a>-->
            </div>
            <a href="javascript:utils.app_layer_new('bannertop_layer', '');" title="고코투어앱 혜택보기"><img src="http://img.go.co.kr/bn_app03.jpg?ver=20180605102240"></a>
        </div>



        <div class="contents" style="z-index: 9999; display: none;" id="bannertop_layer">
            <div class="shopLink">
                <div class="text">
                    고코투어앱 설치하고 <br>
                    <span>속초현대수콘도미니엄 70,000원 쿠폰팩</span>으로 할인받으세요!
                </div>
                <div class="download_btn">
                    <a href="javascript:app_download_open();"><img src="http://img.go.co.kr/goco_app_btn.jpg?ver=20180605102240" alt="앱다운받기바로가기"></a>
                    <!--
				<a href="http://www.go.co.kr/_appclick.php?val=android" target="_blank"><img src="http://img.go.co.kr/bn_app_btn01.jpg?ver=20180605102240" alt="안드로이드 다운로드" style="margin-right:10px"/></a>
				<a href="http://www.go.co.kr/_appclick.php?val=ios" target="_blank"><img src="http://img.go.co.kr/bn_app_btn02.jpg?ver=20180605102240" alt="앱스토어 다운로드" style="margin-right:10px"/></a>
				<a href="http://www.go.co.kr/_appclick.php?val=one" target="_blank"><img src="http://img.go.co.kr/bn_app_btn03.jpg?ver=20180605102240" alt="원스토어 다운로드"/></a>
				-->
                </div>
                <div class="detail" style="position:absolute;bottom:0;right:-110px">
                    <a href="javascript:utils.app_layer_new('bannertop_layer', '');" title="자세히보기"><img src="http://img.go.co.kr/bn_app01.jpg" id="bannertop_btn2" style="display: none;"></a>
                    <!--레이어팝업 노출시 버튼명 변경  <a href="" title="닫기"><img src="http://img.go.co.kr/bn_app02.jpg"></a>-->
                </div>
            </div>
        </div>
    </div>


    <!-- 180605 리뉴얼 해더 적용 -->
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        <% include ../parts/search/_filterBar.ejs %>
    </div>
    <!-- // -->


    <div id="wrapper" class="noover">
        <div id="contents">
            <div class="contents_tit2" style="border-bottom:0px"></div>
            <div id="main5">
                <div class="left" style="position:relative">
                    <table class="photo">
                        <colgroup>
                            <col width="78">
                            <col width="78">
                            <col width="78">
                            <col width="78">
                            <col width="73">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="5" class="img_big" id="jwSlide_view">
                                    <div class="info_local"><span class="point_txt">강원&nbsp;&nbsp;&nbsp;&nbsp; 속초시 노학동 729-3  </span></div>

                                    <div style="text-align:center;background:#000000;width:385px;height:257px" id="imgview_box">
                                        <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348764_in5.jpg" alt="속초현대수콘도미니엄 이미지1" style="width:auto;height:auto;max-width:385px;height:257px" id="img_view" onerror="this.src='http://img.go.co.kr/noimg.jpg'" class="img_navi_5">
                                        <p class="img_expansion" style="top: 60%; cursor: pointer; display: none;"><img src="http://img.go.co.kr/btn_img_view.png" alt="이미지확대" style="width:78px;height:78px;"></p>
                                        <img src="http://img.go.co.kr/thumbnail_logo.png" alt="고코투어" class="thumbnail_logo">
                                    </div>
                                </td>
                            </tr>
                            <tr id="jwSlide_navi" style="width: 78px; height: 55px;">
                                <td class="img_s">
                                    <a href="javascript:slide.view('1', '/tour/img1')">
                                        <div style="text-align:center;background:#000000;width:78px;height:55px">
                                            <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348761_in1.jpg" style="width: 78px; max-width: 78px; height: 55px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt="속초현대수콘도미니엄 썸네일1" id="img_navi_1" onmouseover="slide.navi_over('1');"
                                                onmouseout="slide.navi_over('1');" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </div>
                                    </a>
                                </td>
                                <td class="img_s">
                                    <a href="javascript:slide.view('2', '/tour/img1')">
                                        <div style="text-align:center;background:#000000;width:78px;height:55px">
                                            <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in2.jpg" style="width: 78px; max-width: 78px; height: 55px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt="속초현대수콘도미니엄 썸네일2" id="img_navi_2" onmouseover="slide.navi_over('2');"
                                                onmouseout="slide.navi_over('2');" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </div>
                                    </a>
                                </td>
                                <td class="img_s">
                                    <a href="javascript:slide.view('3', '/tour/img1')">
                                        <div style="text-align:center;background:#000000;width:78px;height:55px">
                                            <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in3.jpg" style="width: 78px; max-width: 78px; height: 55px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt="속초현대수콘도미니엄 썸네일3" id="img_navi_3" onmouseover="slide.navi_over('3');"
                                                onmouseout="slide.navi_over('3');" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </div>
                                    </a>
                                </td>
                                <td class="img_s">
                                    <a href="javascript:slide.view('4', '/tour/img1')">
                                        <div style="text-align:center;background:#000000;width:78px;height:55px">
                                            <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in4.jpg" style="width: 78px; max-width: 78px; height: 55px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt="속초현대수콘도미니엄 썸네일4" id="img_navi_4" onmouseover="slide.navi_over('4');"
                                                onmouseout="slide.navi_over('4');" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </div>
                                    </a>
                                </td>
                                <td class="img_s">
                                    <a href="#" style="cursor:pointer" id="img_more"></a>
                                    <div class="info_gallery" style="z-index: 5;padding-top:0;height:100%;">
                                        <a href="#" style="cursor:pointer" id="img_more">
                                            <p class="point_txt_gallery" style="width:100%;height:100%;padding-top:18px">+더보기</p>
                                        </a><a href="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348761_in1.jpg" rel="gallery" title=""><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348761_in1.jpg" style="display: none; width: 78px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt=""></a>
                                        <a
                                            href="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in2.jpg" rel="gallery" title=""><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in2.jpg" style="display: none; width: 78px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt=""></a><a href="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in3.jpg"
                                                rel="gallery" title=""><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in3.jpg" style="display: none; width: 78px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt=""></a><a href="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in4.jpg"
                                                rel="gallery" title=""><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348763_in4.jpg" style="display: none; width: 78px; float: left; margin: 0px; opacity: 0.5; border: 0px;" alt=""></a></div>
                                    <a
                                        href="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348764_in5.jpg" rel="gallery">
                                        <div style="text-align:center;background:#000000;width:74px;height:55px">
                                            <img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1476348764_in5.jpg" style="width: 74px; max-width: 74px; height: 55px; float: left; margin: 0px; opacity: 1; border: 0px solid rgb(180, 140, 80);" alt="속초현대수콘도미니엄 썸네일5" id="img_navi_5"
                                                onmouseover="slide.navi_over('5');" onmouseout="slide.navi_over('5');" onerror="this.src='http://img.go.co.kr/noimg.jpg'">
                                        </div>
                                        </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="jwSlide_left" class="jwSlide_btn" style="width:40px;position:absolute;left:0;top:35%;">
                        <a href="javascript:slide.view(4, 'tour/img1')" class="btn_link"><img src="http://img.go.co.kr/btn_left.png" class="btn" alt="이전" style="margin:0;"></a>
                    </div>
                    <!--jwSlide_left-->
                    <div id="jwSlide_right" class="jwSlide_btn" style="width:40px;position:absolute;right:0;top:35%;">
                        <a href="javascript:slide.view(1, 'tour/img1')" class="btn_link"><img src="http://img.go.co.kr/btn_right.png" class="btn" alt="다음" style="margin:0;"></a>
                    </div>
                    <!--jwSlide_right-->

                </div>
                <div class="right">
                    <table class="goods_info" style="table-layout:fixed">
                        <colgroup>
                            <col width="95">
                            <col width="90">
                            <col width="35">
                            <col width="310">
                        </colgroup>
                        <form name="keep_f" id="keep_f" method="post"></form>
                        <input type="hidden" name="encrypt" value="0">
                        <input type="hidden" name="mode" value="QhslUzdIOQ==">
                        <input type="hidden" name="userid" value="">
                        <input type="hidden" name="p_no" value="HE5w">
                        <input type="hidden" name="r_no" id="r_no">
                        <input type="hidden" name="wish_id" id="wish_id" value="">

                        <tbody>
                            <tr style="border-top: 1px solid #c8c8c8;">
                                <td class="contents" colspan="4" style="color: #000;font-weight: 600;text-align: left;font-size: 17px;">
                                    [콘도] 속초현대수콘도미니엄 [총판] 500 <img src="http://img.go.co.kr/visor/star-on.png"><img src="http://img.go.co.kr/visor/star-on.png"><img src="http://img.go.co.kr/visor/star-on.png"><img src="http://img.go.co.kr/visor/star-on.png"><img src="http://img.go.co.kr/visor/star-off.png">                        </td>
                            </tr>
                            <tr>
                                <td class="tit2">분류</td>
                                <td class="contents" colspan="3">콘도 <span class="add-txt">(총 객실 수: 475개)</span> </td>
                            </tr>
                            <tr>
                                <td class="tit2">이용시간</td>
                                <td colspan="3" class="contents">체크인 15:00 / 체크아웃 11:00</td>
                            </tr>
                            <tr>
                                <td class="tit2">주소</td>
                                <td colspan="3" class="contents">
                                    구주소 : 강원 속초시 노학동 729-3 <a href="javascript:navigate.move_hid('info_box4','id','fix-nav');box_on('info4_td')"><img src="http://img.go.co.kr/landing/point_icon02.jpg" alt="지도보기"></a><br>신주소 : 강원 속초시 이목로 153 (노학동) <a href="javascript:navigate.move_hid('info_box4','id','fix-nav');box_on('info4_td')"><img src="http://img.go.co.kr/landing/point_icon02.jpg" alt="지도보기"></a>                        </td>
                            </tr>
                            <tr>
                                <td class="tit2" style="border-bottom:0px">부대시설</td>
                                <td colspan="3" class="contents" style="border-bottom:0px">조식가능여부,카페/레스토랑,세미나실/연회장,식당,편의점/슈퍼마켓,무료 wifi</td>
                            </tr>
                            <tr style="border-bottom:none;">
                                <td style="border-bottom:none;padding-top:20px;" colspan="4" class="contents">
                                    <span style="float:right;">
                    							<a href="http://www.go.co.kr/home/member/?dd=TBopVwFUO1AlDF5M&amp;brd=RhAl&amp;p_no=HE5w&amp;abr=&amp;type=group" style="display: inline-block;width: 55px;height: 25px;line-height: 25px;font-size: 13px;color: #fff !important;background-color: #000;text-align:center">단체문의</a>
                    <a href="javascript:sharing.share_sns('mail', '', '')" title="메일공유"><img src="http://img.go.co.kr/sns_mail_s.gif" alt="메일공유"></a>
                    <a href="javascript:sharing.share_sns('facebook', '', 'HE5w')" title="페이스북공유"><img src="http://img.go.co.kr/sns_fb_s.gif" alt="페이스북공유"></a>
                    <a href="javascript:sharing.share_sns('twitter', '속초현대수콘도미니엄', 'HE5w')" title="트위터공유"><img src="http://img.go.co.kr/sns_twt_s.gif" alt="트위터공유"></a>
                    <a href="javascript:sharing.copy_url();" title="URL 복사"><img src="http://img.go.co.kr/icon_url.jpg"></a>
                    <a href="javascript:sharing.share_sns('mobile_share', '', '')" title="모바일 공유"><img src="http://img.go.co.kr/icon_mobile.jpg"></a>

                    <a id="wishlink" href="javascript:alert('로그인 후 이용가능합니다.');location.href='http://www.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl=QQo0U2QJcVQ3CQZOEW5AMQg1UW8WR0Qbb1U3QykMfw53RxF9axsTKQ=='"><img id="wishicon" src="http://img.go.co.kr/btn_zzim01.gif" alt="찜하기"></a><script type="text/javascript">
                    var user_flag = "";
                    </script>						</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>




        </div>
    </div>




</body>

</html>
