<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/product/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/prettyPhoto.css">
    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.prettyPhoto.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.lazyload.min.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        <% include ../parts/search/_filterBar_ticket.ejs %>

        <!--전체 콘텐츠 영역-->
		<div class="rn-contents">
			<!--상품소개-->
			<section class="rn-container sec-prd-basic type-ticket">
				<h2>[워터파크] 블루원 워터파크 입장권 [바로넷] 300805

                    <span class="pull-right d1">
						<a class="a1" href="javascript:;"><span>리얼리뷰</span> <span class="thColor1 num">435</span><span>건</span></a>
						<span class="mgl"></span>
						<a class="a2" href="javascript:;" onclick="$(this).toggleClass('on');"><span class="c-ic3 prd-cmm i-heart"></span><span class="s1">찜하기</span></a>
						<span class="mgl"></span>
						<a class="a4" href="javascript:;"><span class="c-ic3 prd-cmm i-users"></span><span class="s1">단체문의</span></a>
                    </span>
                </h2>

				<div class="prd-basic clr type-ticket">
					<div class="prd-imgBox">
						<ul class="bxS bxS-ticket" id="bxS-ticket">
							<li style="background: url(http://cache.go.co.kr/media/375/admin.varonet.co.kr/bar/mshop_img/B_IMG20170901102720.jpg) no-repeat; background-size: cover;"></li>
                            <li style="background: url(http://cache.go.co.kr/media/375/admin.varonet.co.kr/bar/mshop_img/B_IMG20170901102720.jpg) no-repeat; background-size: cover;"></li>
						</ul>
					</div>
					<div class="prd-infoBox" id="prd-infBox">
                        <div class="d3 d-cmm">
                            <span class="s-lbl">이용기간</span>
                            <span class="s-txt">2018.01.01 ~ 2018.03.31</span>
                        </div>
                        <div class="d4 d-cmm">
                            <span class="s-lbl">주소</span>
                            <span class="s-txt">서울특별시 종로구 동숭동 1-60 5층 바탕골소극장</span>
							<a href="javascript:;"><img class="mvImg" src="http://img.go.co.kr/landing/point_icon02.jpg" alt="지도보기"></a>
						</div>
                        <div class="d-cmm">
                            <span class="s-lbl">운영시간</span>
                            <span class="s-txt">09:50 ~ 18:00</span>
                        </div>
                        <div class="d-cmm">
                            <span class="s-lbl va-top">이용기준</span>
                            <span class="s-txt">
                                대인 : 중학생부터 / 소인 : 36개월 이상 ~ 초등학생 이하<br>
                                무료 : 36개월 미만 (증빙서류 지참)
                            </span>
                        </div>
						<div class="d-cmm row-icon borB-none">
							<span class="s-lbl"></span>
							<span class="s-txt s-icon">
                                <a href=""><i class="c-ic i-facebook"></i></a>
                                <a href=""><i class="c-ic i-twitter"></i></a>
                                <a href=""><i class="c-ic i-link"></i></a>
                                <a href=""><i class="c-ic i-at"></i></a>
                            </span>
						</div>
					</div>
				</div>
			</section>

			<!--상품리스트-->
			<section class="rn-container sec-prd-listTb sec-prd-listTicket">
                <div class="row-useDate">
                    <span class="txt">이용날짜 선택</span>
                    <label class="lbl-date" for="" onclick="toggleOn('.pdtCal.type-ticket', 'self')"><input class="reset" type="text" value="2018-05-01 (목)" readonly><a href="javascript:;" class="a-cal"><span class="c-ic i-wCal"></span></a></label>

                    <% include ../parts/components/calendar/_calendar_sg_t02.ejs %>
                </div>

                <table class="tb-show">
                    <colgroup>
                        <col class="nth-1">
                        <col class="nth-2">
                        <col class="nth-3">
                        <col class="nth-4">
                        <col class="nth-5">
                        <col class="nth-6">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="nth-1">상품명</th>
                            <th class="nth-2">주중/주말</th>
                            <th class="nth-3">대인/소인</th>
                            <th class="nth-4">고코투어 특가 <a href="javascript:;" class="c-ic3 i-lowP" onclick="popOpen('.price_all_layer_pop')"></a></th>
                            <th class="nth-5">수량선택</th>
                            <th class="nth-6">결제금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="nth-1" rowspan="2">
                                종일권
                            </td>
                            <td class="nth-2" rowspan="2">공통</td>
                            <td class="nth-3">대인</td>
                            <td class="nth-4">
                                <!-- 비교 없을 때 -->
                                <!-- <span class="colr-red f-bd">25,100원</span> -->
                                <s>45,000원</s>
                                <span class="arr">&gt;</span>
                                <span class="colr-red f-bd num">25,100원</span>
                            </td>
                            <td class="nth-5">
                                <p class="quan clr">
                                    <span class="s-l">-</span>
                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                </p>
                            </td>
                            <td class="nth-6"><span class="f-bd">25,100원</span></td>
                        </tr>
                        <tr>
                            <td class="nth-3">소인</td>
                            <td class="nth-4">
                                <s>38,000원</s>
                                <span class="arr">&gt;</span>
                                <span class="colr-red f-bd num">20,000원</span>
                            </td>
                            <td class="nth-5">
                                <p class="quan clr">
                                    <span class="s-l">-</span>
                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                </p>
                            </td>
                            <td class="nth-6"><span class="f-bd">20,000원</span></td>
                        </tr>

                        <tr class="sun"><td colspan="6"></td></tr>

                        <tr>
                            <td class="nth-1" rowspan="2">
                                오후권(14시부터 이용)
                            </td>
                            <td class="nth-2" rowspan="2">공통</td>
                            <td class="nth-3">대인</td>
                            <td class="nth-4">
                                <s>45,000원</s>
                                <span class="arr">&gt;</span>
                                <span class="colr-red f-bd num">25,100원</span>
                            </td>
                            <td class="nth-5">
                                <p class="quan clr">
                                    <span class="s-l">-</span>
                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                </p>
                            </td>
                            <td class="nth-6"><span class="f-bd">25,100원</span></td>
                        </tr>
                        <tr>
                            <td class="nth-3">소인</td>
                            <td class="nth-4">
                                <s>38,000원</s>
                                <span class="arr">&gt;</span>
                                <span class="colr-red f-bd num">20,000원</span>
                            </td>
                            <td class="nth-5">
                                <p class="quan clr">
                                    <span class="s-l">-</span>
                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                </p>
                            </td>
                            <td class="nth-6"><span class="f-bd">20,000원</span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="tb-pay">
                    <colgroup>
                        <col class="nth-1">
                        <col class="nth-2">
                        <col class="nth-3">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="nth-1">선택상품<br>(<span class="colr-org">4</span>)</td>
                            <td class="nth-2">
                                <div class="area-sltedItm">
                                    <div class="d-1">
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                블루원 종일권/ 공통/ 대인
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <s>45,000원</s><span class="f-bdr prc">25,100원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-1">
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                오후권(14시부터 이용)/ 공통/ 대인
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <s>45,000원</s><span class="f-bdr prc">25,100원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-1">
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                오후권(14시부터 이용)/ 공통/ 대인
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="1"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <s>45,000원</s><span class="f-bdr prc">25,100원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="nth-3">
                                <span class="square"></span>
                                <div class="d-prc">
                                    최종 결제금액
                                    <s>90,000원</s>
                                    <span class="colr-red num">50,200</span> <span class="sm colr-red">원</span>
                                </div>
                                <div class="area-btn">
                                    <span class="appH">
                                        <a href="" class="nth-1">앱으로 구매</a>
                                        <span class="btn-sale" onclick="popOpen('.popup-app-download')">앱 추가할인</span>
                                    </span>
                                    <a href="" class="nth-2">결제하기</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 두개 일 경우 -->
                <div class="area-ctFaq">
                    <ul class="ctFaq-tab cf">
                        <li class="tab-1 on">구매전 꼭 확인하세요!</li>
                        <li class="tab-2">FAQ 자주묻는 질문</li>
                    </ul>
                    <ul class="ctFaq-contents">
                        <li class="contents-1 on">
                            <table class="tb-ctFaq tb-ct">
                                <colgroup>
                                    <col class="nth-1">
                                    <col class="nth-2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="nth-1">유효기간 <span class="sunV"></span></td>
                                        <td class="nth-2">
                                            - 2017.12.09~2018.03.01<br>
                                            ※ 기상 및 내부 상황에 따라 운영시간이 예고없이 변경될 수 있습니다.<br>
                                            ※ 시설 별 자세한 운영시간은 홈페이지 참조 바랍니다
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="contents-2">
                            <table class="tb-ctFaq tb-faq">
                                <colgroup>
                                    <col class="nth-1">
                                    <col class="nth-2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="nth-1">자주묻는 질문 <span class="sunV"></span></td>
                                        <td class="nth-2">
                                            ※ 취소 하려면 어떻게 해야하나요?<br>
                                            - 유효기간 이전까지 구매처로 취소접수 하시면 됩니다.<br>
                                            ※ 당일구매 당일사용 가능한가요?<br>
                                            - 구매 후 모바일바코드 수신하신다면 바로 사용 가능하십니다.<br>
                                            ※ 반입 가능한 음식물이 어떻게 되나요?<br>
                                            - 과일/이유식/페트병에 담긴 음료류(유리병 제외)는 반입 가능합니다.<br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
			</section>

			<!--상품 상세 설명-->
			<section class="sec-prd-common">
				<div class="area-prd-dtTicket" id="area-prd-detail">

					<div class="area-tab">
                        <ul class="rn-container ul-tab clr">
                            <li class="on"><a href="javascript:;">상품소개</a></li>
                            <li class=""><a href="javascript:;">이용후기</a></li>
                            <li class=""><a href="javascript:;">오시는길</a></li>
                            <li class=""><a href="javascript:;">축제/관광지/맛집</a></li>
                            <li class=""><a href="javascript:;">상품문의</a></li>
                            <li class=""><a href="javascript:;">자주묻는질문</a></li>
                        </ul>
                    </div>

					<ul class="rn-container ul-contents">
						<li class="on li-introTk clr">
							<div class="box-1 clr">
                                <table class="tb-pdtInfo">
                                    <colgroup>
                                        <col class="nth-1">
                                        <col class="nth-2">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="nth-1">이용방법 안내</td>
                                            <td class="nth-2">
                                                1) 상품 구매<br>
                                                2) 모바일티켓 수신<br>
                                                3) 티켓보관함 접속 및 확인<br>
                                                4) 매표소에서 모바일 티켓 제시후 입장권 수령<br>
                                                5) 휘닉스 블루캐니언 이용<br>
                                                ※ 구명조끼 미포함<br>
                                                ※ 옵션별 이용시간이 상이하오니 유의 바랍니다.
                                            </td>
                                        </tr>
                                        <tr><td colspan="2" class="td-sun"><div class="sun"></div></td></tr>
                                        <tr>
                                            <td class="nth-1">구매 기준안내</td>
                                            <td class="nth-2">
                                                - 소인 : 36개월 ~ 초등학생<br>
                                                - 무료 : 36개월 미만(단, 의료보험증, 아기수첩, 주민등록등본 등 증빙서류 지참 필수/ 미지참시 소인요금 적용)<br>
                                                ※ 운영시간은 휘닉스 블루캐니언 홈페이지를 확인 바랍니다.<br>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2" class="td-sun"><div class="sun"></div></td></tr>
                                        <tr>
                                            <td class="nth-1">이용시간 안내</td>
                                            <td class="nth-2">
                                                - 종일권, 세트권 : 오픈시간부터 폐장시간까지<br>
                                                - 오후권 : 14시부터 이용가능<br>
                                                - 야간권 : 17시부터 이용가능<br>
                                                ※ 운영시간은 휘닉스평창 홈페이지를 확인 바랍니다.<br>
                                                ※ 입장 및 발권가능 시간은 영업 마감시간 1시간 전까지 입니다<br>
                                                ※ 날씨 및 현장상황에 따라 운영시간은 변동될 수 있으니 이용 전 휘닉스평창 홈페이지를 꼭 확인 바랍니다.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="info_txt">
                                    <img class="img-full" src="http://admin.varonet.co.kr/bar/mshop_img/TOP_IMG120170821112151.jpg" data-original="http://admin.varonet.co.kr/bar/mshop_img/TOP_IMG120170821112151.jpg" alt="상품소개"><br>
                                    <img class="img-full"src="http://admin.varonet.co.kr/bar/mshop_img/BOT_IMG120170821112157.jpg" data-original="http://admin.varonet.co.kr/bar/mshop_img/BOT_IMG120170821112157.jpg" alt="상품소개"><br>
                                </span>
                                <script>
                                    $(function() {
                                        // 이미지 로딩 최적화
                                        $("#area-prd-detail img.img-full").lazyload({
                                            effect: "fadeIn"
                                        });
                                    });
                                </script>
							</div>
                            <div class="box-2" id="introTk-side">
                                <div class="d-1">
                                    <em class="tit f-bd">[대학로/연극] 극적인하룻밤</em>
                                    <hr class="sun">

                                    <!-- 선택한 상품 없을 때, 회차선택하기 클릭시 상단으로 이동 -->
                                    <!-- <div class="area-sltedItm">
                                        <p class="f-bd mt-1">선택한 상품</p>
                                        <a href="#" class="a-btn">회차 선택하기</a>
                                    </div> -->
                                    <!-- 선택한 상품 있을 때 -->
                                    <div class="area-sltedItm">
                                        <p class="f-bd mt-1">선택한 상품 (<span class="colr-org">4</span>)</p>
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                03월 31일 토 16시 10분<br>
                                                주말 1인 관람권
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="2"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <span class="f-bdr prc">33,000원</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                03월 31일 토 16시 10분<br>
                                                주말 1인 관람권
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="2"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <span class="f-bdr prc">33,000원</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                03월 31일 토 16시 10분<br>
                                                주말 1인 관람권
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="2"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <span class="f-bdr prc">33,000원</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="sltedItm">
                                            <a href="javascript:;" class="a-i-x a-x"></a>
                                            <p class="name f-bd">
                                                03월 31일 토 16시 10분<br>
                                                주말 1인 관람권
                                            </p>
                                            <hr class="sun">
                                            <div>
                                                <p class="quan clr">
                                                    <span class="s-l">-</span>
                                                    <input type="text" class="inp on" value="2"><span class="s-r">+</span>
                                                </p>
                                                <span class="flt-r">
                                                    <span class="f-bdr prc">33,000원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-2">
                                    <p class="row-prc clr">
                                        <span class="s-1 f-bd">최종 결제금액</span>
                                        <s>166,000원</s>
                                        <span class="s-2 f-bd">
                                            <span class="colr-red num">90,200</span><span class="colr-red sm">원</span>
                                        </span>
                                    </p>
                                    <p class="area-btn">
                                        <span class="appH">
                                            <a href="" class="nth-1">앱으로 구매</a>
                                            <span class="btn-sale" onclick="popOpen('.popup-app-download')">앱 추가할인</span>
                                        </span>
                                        <a href="" class="nth-2">결제하기</a>
                                    </p>
                                </div>
                                <div class="d-3 clr">
                                    <a class="a-1" href="#area-prd-detail">
                                        <span class="c-ic i-ticket"></span>
                                        <span class="ta-left">이용권<br>필수정보</span>
                                    </a>
                                    <span class="sun sun-1"></span>
                                    <a class="a-2" href="#area-prd-detail">
                                        <span class="c-ic i-info"></span><br>
                                        이용기준
                                    </a>
                                    <span class="sun sun-2"></span>
                                    <a class="a-3" href="javascript:;">
                                        <span class="c-ic i-group"></span><br>
                                        단체문의
                                    </a>
                                </div>
                            </div>
						</li>

                        <!-- 공통 부분 (이용후가, 오시는길, 축제, 상품문의, 질문) -->
						<% include ../parts/product/_commonDetail.ejs %>

					</ul>
				</div>
			</section>

			<!--주변 다른 숙소-->
			<section class="sec-prd-around">
				<div class="prd-around">
					<h2>[<strong>블루캐니언</strong>] 주변 다른 숙소도 보시겠어요?</h2>

					<ul class="ul-list clr">
						<li class="li-item">
							<a href="">
								<figure><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1476348760_main1.jpg" alt="현대수콘도미니엄"></figure>
								<div class="d-txt">
									<p class="p-name">현대수콘도미니엄</p>
									<p class="p-pric"><span class="f-bd">52,000</span>원</p>
								</div>
							</a>
						</li>
						<li class="li-item">
							<a href="">
								<figure><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1498529278_main1.jpg" alt="낙산비치호텔"></figure>
								<div class="d-txt">
									<p class="p-name">낙산비치호텔</p>
									<p class="p-pric"><span class="f-bd">77,000</span>원</p>
								</div>
							</a>
						</li>
						<li class="li-item">
							<a href="">
								<figure><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503900859_main1.jpg" alt="동강시스타리조트"></figure>
								<div class="d-txt">
									<p class="p-name">동강시스타리조트</p>
									<p class="p-pric"><span class="f-bd">84,900</span>원</p>
								</div>
							</a>
						</li>
						<li class="li-item">
							<a href="">
								<figure><img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1488170837_main1.jpg" alt="강릉관광호텔"></figure>
								<div class="d-txt">
									<p class="p-name">강릉관광호텔</p>
									<p class="p-pric"><span class="f-bd">80,000</span>원</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</section>
		</div>


        <% include ../parts/_footer.ejs %>
    </div>

</body>
</html>
