<% include ./parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/' %> -->
    <% include ./parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <% include ./parts/head/_commonCss.ejs %>
    <% include ./parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <% include ./parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <!-- 20180402 오디오 -->
        <div class="media-wrap hidden" id="mediaWrap">
            <audio controls id="goco2s">
                <source src="http://static.go.co.kr/media/Goco2s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <audio controls autoplay id="goco5s">
                <source src="http://static.go.co.kr/media/Goco5s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <audio controls id="goco7s">
                <source src="http://static.go.co.kr/media/Goco7s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <!--  -->

        <% include ./parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        <!-- 180605 메인 수정 -->
		<div class="rnM-mainDoor-2 type-2 bsLs" id="rnM-mainDoor">
			<div class="rn-container">
				<strong class="main-text ftfm-mg" id="main-text">
					<span class="s1">지금 예약한다면 슈퍼 그뤠잇!</span>
					<span class="s2">여행 가라고 등 떠미는 고코투어 특가!</span>
				</strong>

				<div class="rn-schBox clr" id="rn-schBox">
					<h2 class="hidden">숙소검색</h2>

                    <!-- 180605 메인 수정 -->
                    <div class="rn-schInner clr">

                        <ul class="rn-menu">
                            <li class="nth-1 on"><a href="#none">국내숙박</a></li>
                            <li class="nth-2"><a href="#none">레저/입장권</a></li>
                            <li class="nth-3"><a href="#none">공연/전시</a></li>
                            <li class="nth-4"><a href="#none">해외숙박</a></li>
                        </ul>

                        <div class="rnModal-sec bsLs">

                            <!-- 달력 -->
                            <div class="cal-box">
                                <!-- 체크인, 아웃 -->
                                <div class="cal-1">
                                    <div class="d-cmm d2">
                                        <p class="p0">체크인</p>
                                        <p class="p1 cm-s">2017-10-11</p>
                                    </div>
                                    <div class="d-cmm d2">
                                        <p class="p0">체크아웃</p>
                                        <p class="p1 cm-s">2017-10-11</p>
                                    </div>
                                    <!-- 달력 더블 -->
                                    <% include ./parts/components/calendar/_calendar_db.ejs %>

                                </div>

                                <!-- 이용일자 -->
                                <div class="cal-2 caltype-1" style="display:none">
                                    <div class="d-cmm d2">
                                        <p class="p0">이용일자</p>
                                        <p class="p1 cm-s">2017-10-11</p>
                                    </div>
                                    <!-- 달력 싱글 -->
                                    <% include ./parts/components/calendar/_calendar_dbSg.ejs %>
                                </div>
                            </div>

                            <!-- 유형 -->
                            <div class="type-box">
                                <div class="d-cmm">
                                    <p class="p0">유형선택</p>
                                </div>

                                <!-- 국내숙박 -->
                                <div class="p1 list-box-1 type-1">
                                    <ul class="type-list">
                                        <li class="on"><a href="javascript:;">전체</a></li>
                                        <li><a href="javascript:;">호텔</a></li>
                                        <li><a href="javascript:;">리조트/콘도</a></li>
                                        <li><a href="javascript:;">모텔</a></li>
                                        <li><a href="javascript:;">게스트하우스</a></li>
                                        <li><a href="javascript:;">펜션</a></li>
                                    </ul>
                                </div>

                                <!-- 레저/입장권 -->
                                <div class="p1 list-box-2 type-2" style="display:none">
                                    <ul class="type-list">
                                        <li class="on"><a href="javascript:;">전체</a></li>
                                        <li><a href="javascript:;">워터파크</a></li>
                                        <li><a href="javascript:;">테마파크</a></li>
                                        <li><a href="javascript:;">키즈</a></li>
                                        <li><a href="javascript:;">입장권</a></li>
                                        <li><a href="javascript:;">레포츠</a></li>
                                        <li><a href="javascript:;">체험/축제</a></li>
                                    </ul>
                                </div>

                                <!-- 공연/전시 -->
                                <div class="p1 list-box-2 type-3" style="display:none">
                                    <ul class="type-list">
                                        <li class="on"><a href="javascript:;">전체</a></li>
                                        <li><a href="javascript:;">공연</a></li>
                                        <li><a href="javascript:;">전시</a></li>
                                        <li><a href="javascript:;">체험</a></li>
                                    </ul>
                                </div>

                                <!-- 해외숙박 -->
                                <div class="p1 list-box-1 type-4" style="display:none">
                                    <ul class="type-list">
                                        <li class="on"><a href="javascript:;">전체</a></li>
                                        <li><a href="javascript:;">호텔</a></li>
                                        <li><a href="javascript:;">리조트/콘도</a></li>
                                        <li><a href="javascript:;">모텔</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 지역 -->
                            <div class="reg-box">
                                <div class="d-cmm">
                                    <p class="p0">지역선택</p>
                                </div>

                                <!-- 국내숙박, 레저/입장권, 공연/전시 -->
                                <div class="p1 rnSltReg reg-1">
                                    <div class="slt-dep1">
                                        <ul class="clr">
                                            <li class="on"><a href="javascript:;">서울</a></li>
                                            <li><a href="javascript:;">경기</a></li>
                                            <li><a href="javascript:;">인천</a></li>
                                            <li><a href="javascript:;">강원</a></li>
                                            <li><a href="javascript:;">부산</a></li>
                                            <li><a href="javascript:;">대구</a></li>
                                            <li><a href="javascript:;">경남</a></li>
                                            <li><a href="javascript:;">경북</a></li>
                                            <li><a href="javascript:;">충남</a></li>
                                            <li><a href="javascript:;">충북</a></li>
                                            <li><a href="javascript:;">광주</a></li>
                                            <li><a href="javascript:;">전남</a></li>
                                            <li><a href="javascript:;">울산</a></li>
                                            <li><a href="javascript:;">전북</a></li>
                                            <li><a href="javascript:;">제주</a></li>
                                            <li><a href="javascript:;">세종</a></li>
                                        </ul>
                                    </div>
                                    <div class="slt-dep2" style="display: block">
                                        <ul class="clr">
                                            <li><a href="javascript:;">평창군</a></li>
                                            <li><a href="javascript:;">강릉시</a></li>
                                            <li><a href="javascript:;">춘천시</a></li>
                                            <li><a href="javascript:;">양양군</a></li>
                                            <li><a href="javascript:;">홍천군</a></li>
                                            <li><a href="javascript:;">속초시</a></li>
                                            <li><a href="javascript:;">횡성군</a></li>
                                            <li><a href="javascript:;">고성군</a></li>
                                            <li><a href="javascript:;">원주시</a></li>
                                            <li><a href="javascript:;">영원군</a></li>
                                            <li><a href="javascript:;">정선시</a></li>
                                            <li><a href="javascript:;">동해시</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- 해외숙박 -->
                                <div class="p1 rnSltReg reg-2" style="display:none">
                                    <div class="slt-dep1">
                                        <ul class="clr">
                                            <li class="on"><a href="javascript:;">일본</a></li>
                                            <li><a href="javascript:;">홍콩/중국</a></li>
                                            <li><a href="javascript:;">동남아</a></li>
                                            <li><a href="javascript:;">유럽</a></li>
                                            <li><a href="javascript:;">미주</a></li>
                                            <li><a href="javascript:;">남태평양</a></li>
                                            <li><a href="javascript:;">중동/아프리카</a></li>
                                        </ul>
                                    </div>
                                    <div class="slt-dep2" style="display: block">
                                        <ul class="clr">
                                            <li><a href="javascript:;">전체</a></li>
                                            <li><a href="javascript:;">도쿄</a></li>
                                            <li><a href="javascript:;">오사카</a></li>
                                            <li><a href="javascript:;">후쿠오카</a></li>
                                            <li><a href="javascript:;">삿포로</a></li>
                                            <li><a href="javascript:;">오키나와</a></li>
                                            <li><a href="javascript:;">교토</a></li>
                                            <li><a href="javascript:;">고베</a></li>
                                            <li><a href="javascript:;">나고야</a></li>
                                            <li><a href="javascript:;">그 외</a></li>
                                            <li><a href="javascript:;">고베</a></li>
                                            <li><a href="javascript:;">나고야</a></li>
                                            <li><a href="javascript:;">그 외</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="kw-btn type-2" type="submit" tabindex="2" onclick="javascript:main_submit();">
                                <span class="kw-txt"><span class="c-ic i-mag"></span><br>검색</span>
                            </button>

                        </div>
                    </div>
                    <!--// -->

				</div>
			</div>
		</div>
		<div class="rnM-contents">
			<div class="rn-container">

			</div>
			<div class="bn-sec">
				<div class="rn-container">
					<ul id="bnSlider-1" class="bxSlider-1">
						<li class="li-1">
							<img class="bn-img" src="http://img.go.co.kr/renew/bn1_img.png" alt="고코투어모바일APP혜택">
							<div class="bn-contents">
								<p class="p1">모바일로 더 쉽고 편리하게!</p>
								<p class="p2">고코투어 모바일 <span class="s1">APP</span></p>
								<p class="p3">이젠 고코투어를 더 쉽고 편하게 만나보세요!<br>
								고코투어 앱으로 <span class="f-bd">더 많은 혜택</span>을 누리자! </p>
								<div class="d-store">
									<a href="#"><img src="http://img.go.co.kr/renew/ggStoreBtn.png" alt="구글스토어"></a>
									<a href="#"><img src="http://img.go.co.kr/renew/appStoreBtn.png" alt="앱스토어"></a>
								</div>
							</div>
						</li>
						<li class="li-2">
							<img class="bn-img" src="http://img.go.co.kr/renew/bn2_img.png" alt="고코투어와함께하세요">
							<div class="bn-contents">
								<p class="p1">귀사에 <span class="f-bd">예약서비스의 최고 경쟁력</span>을 드립니다.</p>
								<p class="p2">고코투어와 <span class="s1">함께 하세요!</span></p>
								<p class="p3">고코투어는 여러 분야의 협력업체와 제휴를 통하여<br>
								고객에게 보다 감각적이고 새로운 서비스를 제공합니다.</p>
								<div class="d-btnArea">
									<a href="#" class="a1">고고투어 광고 신청</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="add-sec">
				<div class="rn-container">
					<ul class="ul1 clr">
						<li class="clr" onClick="popOpen('.price_all_layer_pop')">
							<div class="d1"><img src="http://img.go.co.kr/renew/lowPrcImg.png" alt="온라인최저가 보장"></div>
							<div class="d2">
								<p class="p1">온라인 최저가 보상</p>
								<p class="p2 ftfm-mg">
									동일한 숙박에 대해 더 저렴한<br>
									요금을 발견하셨다면 고코투어가<br>
									보상해드리겠습니다.
								</p>
							</div>
						</li>
						<li class="clr" onclick="popOpen('.popup-app-download')">
							<div class="d1"><img src="http://img.go.co.kr/mobile/i_gc.png" alt="고코투어앱"></div>
							<div class="d2 ftfm-mg">
								<p class="p1">무료 앱 다운로드</p>
								<p class="p2">
									이동 중에도 다양한 상품을 찾고<br>
									푸짐한 혜택을 더 할 수 있습니다.
								</p>
							</div>
						</li>
						<li class="clr">
							<div class="d1"><img src="http://img.go.co.kr/renew/secuImg.png" alt="보안예약"></div>
							<div class="d2 ftfm-mg">
								<p class="p1">보안 예약</p>
								<p class="p2">
									암호화 기술을 사용하여<br>
									고객님의 소중한 데이터를 안전하게<br>
									보호합니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

        <% include ./parts/_footer.ejs %>
    </div>

</body>
</html>
