<% include ./parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/' %> -->
    <% include ./parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/jquery.bxslider.css">
    <% include ./parts/head/_commonCss.ejs %>
    <% include ./parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.bxslider.min.js"></script>
    <% include ./parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <!-- 20180402 오디오 -->
        <div class="media-wrap hidden" id="mediaWrap">
            <audio controls id="goco2s">
                <source src="http://static.go.co.kr/media/Goco2s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <audio controls autoplay id="goco5s">
                <source src="http://static.go.co.kr/media/Goco5s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <audio controls id="goco7s">
                <source src="http://static.go.co.kr/media/Goco7s.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <!--  -->

        <% include ./parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
		<div class="rnM-mainDoor bsLs">
			<div class="rn-container">
				<strong class="main-text ftfm-mg">
					<span class="s1">지금 예약한다면 슈퍼 그뤠잇!</span>
					<span class="s2">여행 가라고 등 떠미는 고코투어 특가!</span>
				</strong>

				<div class="rn-schBox clr" id="rn-schBox">
					<h2 class="hidden">숙소검색</h2>

					<div class="rn-schInner clr">
						<div class="d1 d-cmm">
							<p class="p0">지역선택</p>
							<p class="p1 cm-s1"><span class="regName">서울</span><span class="regDetail">강남구</span></p>
						</div>
						<div class="d2 d2-1 d-cmm">
							<p class="p0">체크인</p>
							<p class="p1 cm-s2">2017-10-11</p>
						</div>
						<div class="d2 d2-2 d-cmm">
							<p class="p0">체크아웃</p>
							<p class="p1 cm-s3">2017-10-11</p>
						</div>
						<div class="d3 d-cmm">
							<p class="p0">유형선택</p>
							<p class="p1 cm-s1">호텔/리조트/콘도/모텔</p>
						</div>
						<!-- <div class="d4 d-cmm">
							<p class="p0">객실/인원 선택</p>
							<p class="p1 cm-s1"><span class="s1">객실 1</span> <span class="s2">성인 2명</span></p>
						</div> -->

						<div class="rnModal-sec">
							<!--지역-->
							<div class="rnSltReg rn-modal">
								<div class="slt-dep1">
									<ul class="clr">
										<li><a href="javascript:;">서울</a></li>
										<li><a href="javascript:;">경기</a></li>
										<li><a href="javascript:;">인천</a></li>
										<li class="on"><a href="javascript:;">강원</a></li>
										<li><a href="javascript:;">대전</a></li>
										<li><a href="javascript:;">충북</a></li>
										<li><a href="javascript:;">충남</a></li>
										<li><a href="javascript:;">부산</a></li>
										<li><a href="javascript:;">울산</a></li>
										<li><a href="javascript:;">경남</a></li>
										<li><a href="javascript:;">대구</a></li>
										<li><a href="javascript:;">경북</a></li>
										<li><a href="javascript:;">광주</a></li>
										<li><a href="javascript:;">전남</a></li>
										<li><a href="javascript:;">전북</a></li>
										<li><a href="javascript:;">제주</a></li>
									</ul>
								</div>
								<div class="slt-dep2">
									<ul class="clr">
										<li><a href="javascript:;">전체</a></li>
										<li><a href="javascript:;">평창군</a></li>
										<li><a href="javascript:;">강릉시</a></li>
										<li><a href="javascript:;">춘천시</a></li>
										<li><a href="javascript:;">양양군</a></li>
										<li><a href="javascript:;">홍천군</a></li>
										<li><a href="javascript:;">속초시</a></li>
										<li><a href="javascript:;">횡성군</a></li>
										<li><a href="javascript:;">고성군</a></li>
										<li><a href="javascript:;">원주시</a></li>
										<li><a href="javascript:;">영원군</a></li>
										<li><a href="javascript:;">정선시</a></li>
										<li><a href="javascript:;">동해시</a></li>
										<li><a href="javascript:;"></a></li>
										<li><a href="javascript:;"></a></li>
										<li><a href="javascript:;"></a></li>
										<li><a href="javascript:;"></a></li>
										<li><a href="javascript:;"></a></li>
									</ul>
								</div>
							</div>

							<!--달력-->
							<div class="rnSltCal rn-modal clr">

								<div class="cal-inner">
									<p class="p-1"><a href="" class="prev-a"></a><em>2017년 06월</em></p>
									<table class="cal-tb">
										<thead>
											<tr>
												<th class="sun">일</th>
												<th>월</th>
												<th>화</th>
												<th>수</th>
												<th>목</th>
												<th>금</th>
												<th class="sat">토</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="off"><div></div></td>
												<td class="off"><div></div></td>
												<td class="off"><div></div></td>
												<td class="off"><div></div></td>
												<td class="off"><div>1</div></td>
												<td class="off"><div>2</div></td>
												<td class="off"><div>3</div></td>
											</tr>
											<tr>
												<td class="off"><div>4</div></td>
												<td class="off"><div>5</div></td>
												<td class="off"><div>6</div></td>
												<td class="off"><div>7</div></td>
												<td class="off"><div>8</div></td>
												<td class="off"><div>9</div></td>
												<td class="off"><div>10</div></td>
											</tr>
											<tr>
												<td class="off"><div>11</div></td>
												<td class="off"><div>12</div></td>
												<td class="off"><div>13</div></td>
												<td class="off"><div>14</div></td>
												<td class="off"><div>15</div></td>
												<td class="off"><div>16</div></td>
												<td class="off"><div>17</div></td>
											</tr>
											<tr>
												<td class="off"><div>18</div></td>
												<td class="off"><div>19</div></td>
												<td class="off"><div>20</div></td>
												<td class="off"><div>21</div></td>
												<td class="off"><div>22</div></td>
												<td class="off"><div>23</div></td>
												<td class="off"><div>24</div></td>
											</tr>
											<tr>
												<td class="off"><div>25</div></td>
												<!--날짜 미선택시-->
												<!--<td><div>26</div></td>
												<td><div>27</div></td>
												<td><div>28</div></td>-->
												<!--날짜 선택시-->
												<td class="chkIn"><div>26<span class="c-ic i-chkIn"></span></div></td>
												<td class="ing"><div>27</div></td>
												<td class="chkOut"><div>28<span class="c-ic i-chkOut"></span></div></td>
												<td><div>29</div></td>
												<td><div>30</div></td>
												<td><div></div></td>
											</tr>
											<tr>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="cal-inner">
									<p class="p-1"><em>2017년 07월</em><a href="javascript:;" class="next-a"></a></p>
									<table class="cal-tb">
										<thead>
											<tr>
												<th class="sun">일</th>
												<th>월</th>
												<th>화</th>
												<th>수</th>
												<th>목</th>
												<th>금</th>
												<th class="sat">토</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td><div></div></td>
												<td class="sat"><div>1</div></td>
											</tr>
											<tr>
												<td><div>2</div></td>
												<td><div>3</div></td>
												<td><div>4</div></td>
												<td><div>5</div></td>
												<td><div>6</div></td>
												<td><div>7</div></td>
												<td class="sat"><div>8</div></td>
											</tr>
											<tr>
												<td><div>9</div></td>
												<td><div>10</div></td>
												<td><div>11</div></td>
												<td><div>12</div></td>
												<td><div>13</div></td>
												<td><div>14</div></td>
												<td class="sat"><div>15</div></td>
											</tr>
											<tr>
												<td><div>16</div></td>
												<td><div>17</div></td>
												<td><div>18</div></td>
												<td><div>19</div></td>
												<td><div>20</div></td>
												<td><div>21</div></td>
												<td class="sat"><div>22</div></td>
											</tr>
											<tr>
												<td><div>23</div></td>
												<td><div>24</div></td>
												<td><div>25</div></td>
												<td><div>26</div></td>
												<td><div>27</div></td>
												<td><div>28</div></td>
												<td class="sat"><div>29</div></td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="clr"></div>
								<div class="d-area">
									<a href="#" class="a1"><span class="c-ic i-today"></span> 오늘 날짜로 변경</a>
									<!--날짜 미선택시-->
									<!--<a href="#" class="a2">선택완료</a>-->
									<!--날짜 선택시-->
									<a href="#" class="a2 on">선택완료</a>
								</div>
							</div>

							<!--유형-->
                            <!-- 20180313 유형선택 수정 -->
                            <div class="rnSltCtg-2 rn-modal">
								<ul class="ul1">
									<li>
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-all"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">전체</span></p>
                                        </a>
                                    </li>
                                    <li class="on">
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-hotel"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">호텔</span></p>
                                        </a>
                                    </li>
                                    <li class="on">
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-condo"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">리조트/콘도</span></p>
                                        </a>
                                    </li>
                                    <li class="on">
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-motel"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">모텔</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-guest"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">게스트하우스</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-pension"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">펜션</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="c-ic4 i-ticket"></div>
                                            <p><span class="i-chk"></span><span class="s-txt">레저/입장권</span></p>
                                        </a>
                                    </li>
								</ul>
							</div>
							<!-- <div class="rnSltCtg rn-modal">
								<ul class="ul1">
									<li><a href="javascript:;">전체</a></li>
									<li><a href="javascript:;">호텔</a></li>
									<li><a href="javascript:;">리조트</a></li>
									<li><a href="javascript:;">콘도</a></li>
									<li><a href="javascript:;">레지던스</a></li>
									<li><a href="javascript:;">모텔</a></li>
									<li><a href="javascript:;">유스호스텔</a></li>
									<li><a href="javascript:;">펜션</a></li>
									<li><a href="javascript:;">카라반</a></li>
									<li><a href="javascript:;">풀빌라</a></li>
                                    <li class="bor-t"><a href="javascript:;">레저/입장권</a></li>
									<li class="bor-t"><a href="javascript:;">공연/전시장</a></li>
								</ul>
							</div> -->

							<!--객실/인원 선택-->
							<div class="rnSltNum rn-modal">
								<ul class="ul1">
									<li>
										<span class="s-lbl">객실</span>
										<div class="quan clr">
											<span class="s-l"></span>
											<!--숫자 증가시 on클래스 추가-->
											<input type="text" class="inp on" placeholder="0" value="1">
											<span class="s-r"></span>
										</div>
									</li>
									<li>
										<span class="s-lbl">성인</span>
										<div class="quan clr">
											<span class="s-l"></span>
											<input type="text" class="inp" placeholder="0">
											<span class="s-r"></span>
										</div>
									</li>
									<li>
										<span class="s-lbl">소아</span>
										<div class="quan clr">
											<span class="s-l"></span>
											<input type="text" class="inp" placeholder="0">
											<span class="s-r"></span>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>

					<div class="rn-schBtn">
						<button type="button"><span class="c-ic i-mag"></span> 검색</button>
					</div>

				</div>
			</div>
		</div>
		<div class="rnM-contents">
			<div class="rn-container">
				<div class="pic-sec bsLs">
					<ul class="ul1 clr">
						<li class="li-1"><a href="javascript:;"><span class="c-ic2"></span><span class="s-text">국내숙박</span></a></li>
						<li class="li-2"><a href="javascript:;"><span class="c-ic2"></span><span class="s-text">레저/입장권</span></a></li>
						<li class="li-3"><a href="javascript:;"><span class="c-ic2"></span><span class="s-text">공연/전시</span></a></li>
						<li class="li-4"><a href="javascript:;"><span class="c-ic2"></span><span class="s-text">해외숙박</span></a></li>
					</ul>
				</div>
			</div>
			<div class="bn-sec">
				<div class="rn-container">
					<ul id="bnSlider-1" class="bxSlider-1">
						<li class="li-1">
							<img class="bn-img" src="http://img.go.co.kr/renew/bn1_img.png" alt="고코투어모바일APP혜택">
							<div class="bn-contents">
								<p class="p1">모바일로 더 쉽고 편리하게!</p>
								<p class="p2">고코투어 모바일 <span class="s1">APP</span></p>
								<p class="p3">이젠 고코투어를 더 쉽고 편하게 만나보세요!<br>
								고코투어 앱으로 <span class="f-bd">더 많은 혜택</span>을 누리자! </p>
								<div class="d-store">
									<a href="#"><img src="http://img.go.co.kr/renew/ggStoreBtn.png" alt="구글스토어"></a>
									<a href="#"><img src="http://img.go.co.kr/renew/appStoreBtn.png" alt="앱스토어"></a>
								</div>
							</div>
						</li>
						<li class="li-2">
							<img class="bn-img" src="http://img.go.co.kr/renew/bn2_img.png" alt="고코투어와함께하세요">
							<div class="bn-contents">
								<p class="p1">귀사에 <span class="f-bd">예약서비스의 최고 경쟁력</span>을 드립니다.</p>
								<p class="p2">고코투어와 <span class="s1">함께 하세요!</span></p>
								<p class="p3">고코투어는 여러 분야의 협력업체와 제휴를 통하여<br>
								고객에게 보다 감각적이고 새로운 서비스를 제공합니다.</p>
								<div class="d-btnArea">
									<a href="#" class="a1">고고투어 광고 신청</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="add-sec">
				<div class="rn-container">
					<ul class="ul1 clr">
						<li class="clr">
							<div class="d1"><img src="http://img.go.co.kr/renew/lowPrcImg.png" alt="온라인최저가 보장"></div>
							<div class="d2">
								<p class="p1">온라인 최저가 보상</p>
								<p class="p2 ftfm-mg">
									동일한 숙박에 대해 더 저렴한<br>
									요금을 발견하셨다면 고코투어가<br>
									보상해드리겠습니다.
								</p>
							</div>
						</li>
						<li class="clr">
							<div class="d1"><img src="http://img.go.co.kr/mobile/i_gc.png" alt="고코투어앱"></div>
							<div class="d2 ftfm-mg">
								<p class="p1">무료 앱 다운로드</p>
								<p class="p2">
									이동 중에도 다양한 상품을 찾고<br>
									푸짐한 혜택을 더 할 수 있습니다.
								</p>
							</div>
						</li>
						<li class="clr">
							<div class="d1"><img src="http://img.go.co.kr/renew/secuImg.png" alt="보안예약"></div>
							<div class="d2 ftfm-mg">
								<p class="p1">보안 예약</p>
								<p class="p2">
									암호화 기술을 사용하여<br>
									고객님의 소중한 데이터를 안전하게<br>
									보호합니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

        <% include ./parts/_footer.ejs %>
    </div>

</body>
</html>
