//- 템플릿 상속 & 확장: extends, block
extends parts/_docTemplate

//- block stylesheets 앞에 내용 추가
prepend stylesheets
	link(rel="stylesheet", href="/static/css" + initPage + "init.css")

//- block scripts 앞/뒤에 내용 추가
prepend scripts

append scripts

//- 해더 변경 설정
block header
	| 해더

//- 콘텐츠 변경설정
block contents
	h2 메인페이지 내용: Jade Template
	
block footer
	| 메인페이지 푸터
