<div class="popup-app-download allPopupWrap" style="display: none;">
	<div class="coupon_pack_pop">
		<div class="coupon_pack_pop_top">
			<img src="http://img.go.co.kr/logo_sh_b.png" width="95px">
			<p><span class="orange_txt">고코투어 앱</span>설치 시 <span class="red_txt">70,000원</span> 쿠폰팩 즉시 지급!</p>
			<a href="javascript:;" onclick="javascript:popClose(this);" title="닫기"><img src="http://img.go.co.kr/pop_close_Sbtn.png"></a>
		</div>
		<div class="coupon_pack_pop_contents">
			<ul>
				<li class="goco_app_icon"><img src="http://img.go.co.kr/goco_app_Icon_m.png"></li>
				<li>
					<p class="title_txt">지금 고코투어 앱을 다운받으세요</p>
					<p class="title_txt"> <span class="red_txt">70,000원</span> 쿠폰팩을 지급해드립니다!</p>
					<p class="txt_s">
						핸드폰 번호를 입력하시면<br><span class="orange_txt">앱 설치 방법 안내를 문자</span>로 보내드립니다.
					</p>
				</li>
			</ul>
			<ul class="input_Box">
				<li class="recipient">
					<label>·받는사람</label>
					<input type="tel" name="phone_d1" maxlength="3" style="line-height:normal">
					<span>-</span>
					<input type="tel" name="phone_d2" maxlength="4" style="line-height:normal">
					<span>-</span>
					<input type="tel" name="phone_d3" maxlength="4" style="line-height:normal">
				</li>
				<li class="send_Btn"><input type="button" value="전송" onclick="app_download_sms();"></li>
			</ul>
			<p>* 문자로 발송드린 URL을 클릭하시면 앱설치가 가능한 설치페이지로 이동합니다.</p>
		</div>
	</div>
</div>
