<div class="dropDown-bg" id="qna-pop-bg">
    <div class="qna-wrap">
        <div class="qna-th">
            <p>1:1문의하기</p>
            <a href="javascript:;" class="i-x" onclick="$(this).closest('#qna-pop-bg').hide();"><img src="http://img.go.co.kr/faq_modal_close.png" alt=""></a>
        </div>


        <table class="qna_t_write">
            <colgroup>
                <col width="100">
                <col width="640">
            </colgroup>
            <tbody>
                <tr>
                    <th>질문구분</th>
                    <td>
                        <input type="radio" name="category1" id="money_ac" value="요금관련" checked=""><label for="money_ac"> 요금관련</label>&nbsp;&nbsp;
                        <input type="radio" name="category1" id="pay_ac" value="결제관련"><label for="pay_ac"> 결제관련</label>&nbsp;&nbsp;
                        <input type="radio" name="category1" id="etc_ac" value="기타"><label for="etc_ac"> 기타</label>&nbsp;&nbsp;
                        <input type="radio" name="category1" id="member_ac" value="회원정보/탈퇴"><label for="member_ac"> 회원정보/탈퇴</label>&nbsp;&nbsp;
                        <input type="radio" name="category1" id="group_inquiry" value="단체문의"><label for="group_inquiry"> 단체문의</label>&nbsp;&nbsp;
                    </td>
                </tr>



                <tr>
                    <th>제목</th>
                    <td>
                        <div class="qna_title_search_list">
                            <input name="subject" class="select02" id="subject" autocomplete="off" type="text" value="" onclick="$(this).next().show();">
                            <div class="q_list_box">
                                <a class="i-x" href="javascript:;" onclick="$(this).parent().hide();">X</a>
                                <ul>
                                    <li><a href="#">예약확정은 언제 되나요?</a></li>
                                    <li><a href="#">예약 취소는 어떻게 하나요?</a></li>
                                    <li><a href="#">인원을 추가할 수 있나요?</a></li>
                                    <li><a href="#">이용방법은 어떻게 되나요? </a></li>
                                    <li><a href="#">소아(유아)의 기준 및 추가요금이 어떻게 되나요?</a></li>
                                    <li><a href="#">예약확정에 대한 연락은 언제 받을 수 있나요?</a></li>
                                    <li><a href="#">조식 인원을 추가하고 싶은데 가능한가요?</a></li>
                                    <li><a href="#">만실(빈방없음) 예약 취소란?</a></li>
                                    <li><a href="#">고코투어 믿을 만한 회사인가요?</a></li>
                                    <li><a href="#">확정 전에 취소 하는 것도 위약금 규정이 발생되나요? </a></li>
                                    <li><a href="#">결제 후, 호텔(시설)에 연락하니 예약이 아직 안되었다고 하네요?</a></li>
                                    <li><a href="#">반려동물과 투숙이 가능할까요?</a></li>
                                    <li><a href="#">스파 및 워터파크 패키지 구매시 해당시설에 무료 입장 가능한가요?</a></li>
                                    <li><a href="#">예약취소시 취소/환불 절차</a></li>
                                    <li><a href="#">[성함입실]이라고 문자가 왔습니다. 성함입실이 뭔가요?</a></li>
                                    <li><a href="#">주문은 취소되었는데, 환불이 아직 안된 것 같습니다.</a></li>
                                    <li><a href="#">예약을 2박3일 하고 1박만 이용 했을 경우 어떻게 되나요? </a></li>
                                    <li><a href="#">고객센터 전화연결이 너무 안됩니다.</a></li>
                                    <li><a href="#">결제 후, 객실 마감이면 어떻게 되나요? </a></li>
                                    <li><a href="#">체크아웃을 연장 할수는 없나요? </a></li>
                                    <li><a href="#">환불 문의</a></li>
                                    <li><a href="#">예약 취소시, 위약금 규정은 어떻게 되나요?</a></li>
                                    <li><a href="#">체크인 시간은 변경 가능한가요?</a></li>
                                    <li><a href="#">객실 만실로인한 취소/환불 절차</a></li>
                                    <li><a href="#">애완동물과 함께 투숙할 수 있나요?</a></li>
                                    <li><a href="#">[해외] 호텔에 오니 예약 건이 없다고 합니다.</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>작성자명</th>
                    <td><input name="name" class="select02" id="name" type="text" style="width:150px" readonly="" value="강혜준"></td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td>
                        <input class="select02" type="text" numberonly="true" maxlength="3" size="5" id="phone1" name="phone1" value="010"> -
                        <input class="select02" type="text" numberonly="true" maxlength="4" size="5" id="phone2" name="phone2" value=""> -
                        <input class="select02" type="text" numberonly="true" maxlength="4" size="5" id="phone3" name="phone3" value="">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input class="select02" type="text" maxlength="30" size="30" id="email" name="email" value="vxggangxv@naver.com">
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 0; margin-bottom: 0;">내용</th>
                    <td colspan="3" style="padding-bottom: 0; margin-bottom: 0;">
                        <textarea name="contents" class="select03" id="contents">
                            안녕하세요. 고코투어 입니다.
                            고코투어는 통신판매와 여행보증보험에 가입되어 있는 회사입니다.

                            따라서, 예약부터 최종 이용까지의 모든단계에서 혹시나 발생될 수 있는 고객님의 피해는 서울보증으로부터 모두 보장받을 수 있기 때문에 안심하시고 서비스를 이용하시면 됩니다.

                            최근 성수기 예약으로 인하여 전화량이 늘었고, 이에 전화연결이 지연되고 있습니다.
                            불편스럽더라도, 1:1 문의에 문의사항을 남겨주시면 확인하여
                            고객님의 불편사항을 빠르게 처리해 드리겠습니다.

                            안심하시고 조금만 기다려 주십시요.  감사합니다.
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="btn-area"><a href="#" class="btn-a">등록하기</a><a href="javascript:;" class="btn-a cancle" onclick="$('#qna-pop-bg').hide();">취소</a></div>
    </div>
</div>
