<div class="dropDown-bg inquiry1on1" style="display: none">
    <div class="qna-wrap" style="">
        <div class="qna-th">
            <p>Q&A 문의하기</p>
            <a href="#" class="a-i-x a-x" onclick="popCls('.inquiry1on1')"></a>
        </div>

        <table class="qna_t_write">
            <colgroup>
                <col width="120">
                <col width="580">
            </colgroup>
            <tbody>
                <tr>
					<th>질문분류</th>
					<td>
						<input type="radio" name="category1" id="_type1" value="예약변경/취소관련" style="cursor:Pointer" checked=""> <label for="_type1" style="cursor:Pointer">예약변경/취소관련</label> &nbsp;
						<input type="radio" name="category1" id="_type2" value="요금/결제관련" style="cursor:Pointer"> <label for="_type2" style="cursor:Pointer">요금/결제관련</label> &nbsp;
						<input type="radio" name="category1" id="_type3" value="오류관련" style="cursor:Pointer"> <label for="_type3" style="cursor:Pointer">오류관련</label> &nbsp;
						<input type="radio" name="category1" id="_type4" value="회원정보관련" style="cursor:Pointer"> <label for="_type4" style="cursor:Pointer">회원정보관련</label> &nbsp;
						<input type="radio" name="category1" id="_type5" value="단체문의" style="cursor:Pointer"> <label for="_type5" style="cursor:Pointer">단체문의</label> &nbsp;
						<input type="radio" name="category1" id="_type6" value="기타" style="cursor:Pointer"> <label for="_type6" style="cursor:Pointer">기타</label>
					</td>
				</tr>
                <tr id="_type1_is" style="display: table-row;">
					<th>문의상품</th>
					<td>
						<select name="radioch">
    						<option value="287880">강릉관광호텔(최근본시설)</option>
						</select>
					</td>
				</tr>
                <tr>
                    <th>제목</th>
                    <td>
                        <div class="qna_title_search_list">
                            <select class="select02" style="padding-left:5px;" name="subject" id="subject">
								<option value="오션투유리조트 무료숙박권 관련 문의드려요.">오션투유리조트 무료숙박권 관련 문의드려요.</option>
							</select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>작성자명</th>
                    <td><input name="name" class="select02" id="name" type="text" style="padding-left:5px; width:168px" value=""></td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td>
                        <input class="select02" type="text" numberonly="true" maxlength="3" size="5" style="padding-left:5px; width:80px;" id="phone1" name="phone1" value="010"> -
                        <input class="select02" type="text" numberonly="true" maxlength="4" size="5" style="padding-left:5px; width:80px;" id="phone2" name="phone2" value="0000"> -
                        <input class="select02" type="text" numberonly="true" maxlength="4" size="5" style="padding-left:5px; width:80px;" id="phone3" name="phone3" value="0000">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input class="select02" type="text" maxlength="30" size="30" style="padding-left:5px; width:257px" id="email" name="email" value="">
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 0; margin-bottom: 0;">내용</th>
                    <td colspan="3" style="padding-bottom: 0; margin-bottom: 0;">
                        <textarea name="contents" class="select03" id="contents" style="" placeholder="안녕하세요. 고코투어입니다.
본 문의처는 무료숙박권 이벤트와 관련된 문의만 요청가능합니다.
문의에 대한 답변은 고코투어 사이트의 마이페이지 / 나의 문의내역에서 확인해 주세요.
감사합니다."></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-area"><a href="javascript: reseve_write();" class="btn-a">문의하기</a></div>
    </div>
</div>
