<div class="price_all_layer_pop allPopupWrap" style="display: none;">
	<div class="price_all_layer_area">
		<div class="price_top">
			<img src="http://img.go.co.kr/price_all_pop_title.jpg" alt="">
			<a href="javascript:;" onclick="javascript:popClose(this);" class="btn-popup-price-close"><img src="http://img.go.co.kr/price_all_pop_close.jpg" alt=""></a>
		</div>
		<div class="price_mid">
			<p class="note_txt">
				고코투어 보다 더 <strong>저렴한 요금을 발견</strong>하셨다면 <strong>신고</strong>해 주십시요.<br>
				고코투어 캐시로 그 <strong>차액을 전액 보상</strong>해 드립니다.
			</p>
			<ul class="list_guide">
				<li>
					<p>
						최저가로 보장 받은 예약건은 완전하게 이용이 완료되어야<br>
						그 차액을 보상 받을 수 있습니다.
					</p>
				</li>
				<li>
					<p>최저가 보장제는 다음의 내용으로 진행 됩니다.</p>
					<div class="list_guide_inner">
						<ul>
							<li>
								1. 타 판매사이트의 판매가격이 고코보다 싸다면, 접수해 주세요.
								<ul>
									<li>- 접수는 아래 신고하기로 접수하시면 됩니다.</li>
								</ul>
							</li>
							<li>
								2. 접수시에는 타 판매사이트 최종 결제 진행방법을 안내해 주셔야합니다.
								<ul>
									<li>- 판매처, 판매처의 URL 혹은 카테고리, 캡쳐 등</li>
									<li>- 고코투어 관리자가 객관적으로 확인 가능하여야 합닌다.</li>
								</ul>
							</li>
							<li>3. 담당자가 확인 후 고객님께 답변 메일을 발송합니다.</li>
							<li>4. 시설 이용일 기준으로 3일(영업일) 이내에 그 차액을 고코투어캐쉬로 지급됩니다.</li>
						</ul>
					</div>
				</li>
				<li>
					<p>아래의 조건과 부합되어야 합니다.</p>
					<div class="list_guide_inner">
						<ul>
							<li>1. 예약 상품과 동일기간, 동일시설, 동일객실, 동일인원인 상품이어야 합니다.</li>
							<li>2. 예약 상품과 변경 및 취소 등의 조건이 동일하여야 합니다.</li>
							<li>3. 타 판매처의 자체 할인금(추천인할인, 적립금차감)에 의한 할인 가격은 제외됩니다.</li>
						</ul>
					</div>
				</li>
				<li>
					<p>다음의 상품은 최저가 보장에서 제외됩니다.</p>
					<div class="list_guide_inner">
						<ul>
							<li>1. 전일 또는 당일 예약상품은 불가합니다.(담당자 확인 불가)</li>
							<li>2. 고코투어 담당자가 해당 상품의 예약이 가능 하여야 합니다.(불가한 경우, 보상불가)</li>
							<li>3. 취소 또는 환불된 상품</li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="btn_decl">
				<a onclick="javascript:price_report();" style="cursor:pointer">신고하기</a>
			</div>
		</div>
	</div>
</div>
