<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/search/' %> -->
    <% include ../parts/head/_headMeta.ejs %>
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/ion.rangeSlider.css">
    <link rel="stylesheet" href="http://static.go.co.kr/css/renew/libs/ion.rangeSlider.custom.css">
    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>
    <script src="http://static.go.co.kr/js/renew/libs/jquery.lazyload.min.js"></script>
    <script src="http://static.go.co.kr/js/renew/libs/ion.rangeSlider.min.js"></script>
    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">고코투어</h1>
    <div class="rn-gwrap">
        <% include ../parts/_header.ejs %>

        <!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
        <% include ../parts/search/_filterBar.ejs %>

        <div class="rnL-contents">
			<div class="rn-container">
                <div class="rnL-mfOuter clr">
                    <!--필터검색-->
    				<% include ../parts/search/_filtering_search.ejs %>

                    <div class="rnL-mOuter bsLs clr" id="rnL-mOuter"></div>
                </div>

				<!--검색결과 없을 경우-->
				<div class="rnL-listOuter bsLs">
					<div class="schNonBox">
						<img src="http://img.go.co.kr/renew/pic_schNone.png" alt="검색결과가없습니다.">
						<p class="text">
							<span class="f-bd">“오샨 리조트”</span>에 대한 검색결과가 없습니다.<br>다시 검색해주세요.
						</p>
					</div>
				</div>
			</div>
		</div>

    </div>

</body>
</html>
