<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<title>고코 리뉴얼</title>
<!-- <meta name="descriptions" content="현재 페이지의 설명을 작성(200~300자 내외)합니다.">
<meta name="keywords" content="현재 페이지와 관련된 키워드(10개 미만)를 입력해주세요."> -->
<link rel="stylesheet" href="/static/css/renew/reset.css">
