<%= initPage = '/search/' %>

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<title>고코 리뉴얼</title>
<!-- <meta name="descriptions" content="현재 페이지의 설명을 작성(200~300자 내외)합니다.">
<meta name="keywords" content="현재 페이지와 관련된 키워드(10개 미만)를 입력해주세요."> -->
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="http://static.go.co.kr/css/jquery.bxslider.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/ststic/css<%= initPage %>init.css">

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    custom: {
        families: ['Nanum Gothic', 'Noto Sans KR'],
        urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
    }
  });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js"></script>
<script>
  Modernizr.Detectizr.detect();
</script>

<script src="http://static.go.co.kr/js/jquery.bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js<%= initPage %>index.js"></script>
