<header class="rnL-header clr bsLs">
	<div class="rn-container">
		<div class="d-box clr">
			<a class="logo-a" href="/views/main"><img class="l-img" src="http://img.go.co.kr/logo.png" alt="고코투어"></a>

			<div class="schBox">
				<!--키워드검색시 유사 상품 노출-->
				<span class="schBor" id="schBor">
					<input type="text" tabindex="1" title="검색어" placeholder="어디로 떠나고 싶으신가요?" value="">
				</span>
				<button class="schBtn" type="submit" tabindex="2" title="검색">
					<span class="c-ic i-mag"></span>
				</button>
				<div class="schEx">
					<ul class="ul1">
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">데이즈호텔서귀포오션</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">더클라우트호텔</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">켄싱턴제주호텔</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">부영호텔&amp;리조제주</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">하워드존슨 호텔 제주서귀포하버</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="s1 thColor1">제주</span>
								<span class="s2 s-i-Arr rArr"></span>
								<span class="s3">전체</span>
							</a>
						</li>
					</ul>
					<div class="d-area"><span class="thColor1">고코투어 앱</span>을 통해 예약하면 <span class="thColor1">3만원</span> 쿠폰팩 즉시 지급! <a class="a1" href="#">앱설치하기</a></div>
				</div>
			</div>

			<div class="dLink-box">
				<!--새로운 이벤트 있을 경우 i-new 아이콘 추가 -->
				<a href="#">이벤트 <span class="i-new"></span></a>
				<span class="mgl"></span>
				<a href="#">숙소 추천받기</a>
				<span class="mgl"></span>
				<a href="#">광고/입점 제휴문의</a>
			</div>
		</div>
		<div class="flr-box">
			<ul class="rnL-nv clr">
				<li><a href="/views/search" class="myArea"><span class="c-ic i-comp"></span> 내 주변</a></li>
				<!--새로운 예약내역 있을 경우 i-new 아이콘 추가 -->
				<li><a href="#">예약내역 <span class="i-new"></span></a></li>
				<li><a href="#">마이페이지</a></li>
				<li class="last"><a href="#" class="lgn">로그아웃</a></li>
			</ul>
		</div>
	</div>
</header>
