//- 현재 페이지 경로
-var rootPage       = '/views'
-var initPage        = '/'
-var curPage        = rootPage + initPage

//- 현재 페이지 설명, 키워드
-var pageTitle      = '현재 페이지의 제목을 입력합니다.'
-var metaDesc       = '현재 페이지의 설명을 작성(200~300자 내외)합니다.'
-var metaKeywords   = '현재 페이지와 관련된 키워드(10개 미만)를 입력해주세요.'

//- 웹폰트 설정
-var googleWebfonts = true
-var fontsList      = {earlyaccessNanum: 'nanumgothic', earlyaccessNoto: 'notosanskr'}

//- 믹스인
include _mixins
