//- ------------------
//- 설정 변수
//- ------------------
block config
	include _config

//- ------------------
//- 문서
//- ------------------
include _docHead
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		//-
			_config.jade의 변수 pageTitle을 title 요소의 내용으로 사용하려면 보간법(Interpolation)을 사용합니다.
			레퍼런스 Interpolation을 참고해서 읽고 공부해보세요 ^^
			http://jade-lang.com/reference/code/
		title #{pageTitle}
			//- 책에서 다룬 예제는 아래 내용이죠. 위 설정으로 주석처리합니다.
			//- block pageTitle
			//- 	| Jade를 배워보자!
		
		//- 메타 요소
		block metatags
			meta(name="descriptions", content=metaDesc)
			meta(name="keywords", content=metaKeywords)
			//- meta(name="viewport", content="width=device-width, initial-scale=1")
			//- meta(name="author", content="yamoo9")
		
		//- 스타일시트
		block stylesheets
			link(rel="stylesheet", href="/static/css/reset.css")
			link(rel="stylesheet", href="/static/css/common.css")
		
		//- 웹폰트
		block webfonts
			include _webfonts
	
		//- 스크립트
		block scripts
			script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
			script(src="http://code.jquery.com/jquery.min.js")
			script(src="http://cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js")
			script.
				Modernizr.Detectizr.detect();
			script(src="/static/js/index.js")

	body
		//- 헤더 영역
		include _header

		//- 메인 콘텐츠 영역
		div.main.container.cf
			.contents
				block contents

		include _footer
