header
	block header
		.container.cf
			h1#jade: a(href="http://jade-lang.com")
				img(
					src="/img/jade-logo.png"
					width="217"
					height="120"
					alt="Jade: Node Template Engine 노드 템플릿 엔진"
				)
			p 
				block slogan
					| Jade를 실무에 활용해보세요!

//- 내비게이션 영역
include _navigation
