if googleWebfonts
	//- link(rel="stylesheet", href="http://fonts.googleapis.com/earlyaccess/"+fontsList.earlyaccessNanum+".css")
	//- link(rel="stylesheet", href="http://fonts.googleapis.com/earlyaccess/"+fontsList.earlyaccessNoto+".css")
	script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
	script.
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
